<ion-view title="消费明细" class="myServiceDetail">
  <ion-content>
    <ul class="info1">
      <li>
        <span>日期: </span>
        <span ng-bind="item.paymentTime | yyyyMd_cn"></span>
      </li>
      <li>
        <span>停车时间: </span>
        <span ng-bind="item.entryTime | yyyyMd_HHmmss_cn"></span>
      </li>
      <li>
        <span>取车时间: </span>
        <span ng-bind="item.paymentTime | yyyyMd_HHmmss_cn"></span>
      </li>
      <li>
        <span>停车券号: </span>
        <span ng-bind="item.ticketNumber"></span>
      </li>
    </ul>
    <ul class="info2">
      <h5>付款方式: </h5>
      <li ng-if="item.alipayAmount"><span>支付宝支付: </span><span ng-bind="item.alipayAmount"></span>元。</li>
      <li ng-if="item.wechatAmount">微信支付: <span ng-bind="item.wechatAmount"></span>元。</li>
      <li ng-if="item.pointPayAmount">
        <span>积分抵扣:</span>
        <span>使用积分<span ng-bind="item.pointPayNum"></span>, </span>
        <span>抵扣金额<span ng-bind="item.pointPayAmount"></span>元。</span>
      </li>
      <li ng-if="!!couponList.length">
        <span>停车券抵扣:</span>
        <table class="couponTable">
          <tr>
            <th>停车券名称</th>
            <th>停车券编号</th>
            <th>抵扣金额(元)</th>
          </tr>
          <tr ng-repeat="item in couponList track by $index">
            <td ng-bind="item.name"></td>
            <td ng-bind="item.no"></td>
            <td ng-bind="item.amount"></td>
          </tr>
        </table>
      </li>
    </ul>
  </ion-content>
</ion-view>
