<!--挂在了whenSearch组件,当搜索框被点击时,隐藏不需要的部分-->
<!--<ion-view when-search title="品牌资讯" class="brandInfo whenSearch">-->
<ion-view view-title="品牌资讯" class="brandInfo" cache-view="false">
    <!--searchBox为通用控件-->
    <smart-search-box class="has-header">
        <smart-search-input class="searchBoxInput">
            <i class="icon-search"></i>
            <input type="text" placeholder="请输入商铺名称/品牌" id="searchBoxInput" ng-model="searchFor">
            <smart-clean-input class="closeBtnBox">
                <div class="closeBtn icon-close"></div>
            </smart-clean-input>
        </smart-search-input>
        <smart-search-btn ng-click="" class="searchBoxBtn">搜索</smart-search-btn>
    </smart-search-box>
    <!--smart-tap-box为通用控件-->
    <smart-tap-box class=" has-tabs-top">
        <tap-select ng-click="">
            <tap-header>
                <span ng-bind="levelName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setLevelName(item)" ng-repeat="item in levelArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
        <tap-select ng-click="">
            <tap-header>
                <span ng-bind="typeName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setTypeName(item)" ng-repeat="item in typeArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
        <tap-select ng-click="">
            <tap-header>
                <span ng-bind="orderName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setOrderName(item)" ng-repeat="item in orderArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
    </smart-tap-box>
    <!--<ion-content id="searchResult" class="" style="top: 134px;">-->
    <ion-content id="scroll-content" class="has-header has-subheader has-tabs-top" overflow-scroll="true">
        <!--shopList-->
        <div class="list shopList">

            <!--each-->
            <div class="shopEach " ng-repeat="item in dataToDisplay track by $index">
                <!--商铺box-->
                <div ui-sref="subNav.brandDetail({detail:item.shopid})" class="shopBox">
                    <!--标题-->
                    <div class="collectionTitle clearfix">
                        <span class="title wordLine" ng-bind="::item.name"></span>
                        <span class="location wordLine" ng-bind="::item.area"></span>
                    </div>
                    <!--图片-->
                    <div class="imgBox placeholder_178_2">
                        <img ng-src="{{::item.logourl}}"
                             err-src="">
                    </div>

                    <!--商铺信息-->
                    <div class="collectionInfo clearfix">
                        <span class="tag new">新</span>
                        <span class="tag discount">惠</span>
                        <span class="tag">订</span>
                        <!--<span class="tag">排</span>-->
                    </div>
                </div>

                <!--红心-->
                <!--<div class="starBox" ng-class="{1:'collected',0:''}[item.iscollect]"-->
                <!--ng-click="changeCollectionState($event,item)">-->
                <!--<div class="star redStar whiteStar"></div>-->
                <!--</div>-->
                <div class="starBox" ng-class="{1:'collected',0:''}[item.iscollect]"
                     ng-click="beforeCollection($event,item)">
                    <div class="star redStar whiteStar"></div>
                </div>
            </div>
            <!--each end-->

            <!--抱歉,暂无数据!-->
            <div class="noDataToDisplay" ng-if=" dataToDisplay.length== 0 && !moreDataCanBeLoaded">
                <p>列表无数据!</p>
                <p></p>
            </div>
            <p class="noDataToDisplay" ng-if="!moreDataCanBeLoaded && dataToDisplay.length>findNum">
                列表加载完毕!</p>
        </div>
        <!--shopList end-->

        <ion-infinite-scroll distance="1%" spinner="ripple"  ng-show="moreDataCanBeLoaded" class="listLoading" on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>

<!--searach history-->
<smart-history-box class="searchHistoryBox has-tabs-top" storage-name="shopSearchedHistory">
    <section ng-if="!searchFor">
        <div class="historyTitle" ng-click="deleteHistory(-1)">清除所有搜索记录</div>
        <ul class="historyList">
            <li ng-repeat="history in historyList track by $index">
                <span ng-click="searchThis(history)" ng-bind="history"></span>
                <span class="closeBtn" ng-click="deleteHistory($index)"></span>
            </li>
        </ul>
    </section>
    <section ng-if="searchFor">
        <ul class="historyList">
            <div class="historyTitle">相关店铺(<span ng-bind="lenovoList.length"></span>条)</div>
            <li ng-repeat="lenovo in lenovoList track by $index">
                <span ng-click="searchThis(lenovo.name)" ng-bind="lenovo.name"></span>
            </li>
        </ul>
        <!--<div class="lenovoCanNotFind" ng-if="!lenovoList.length"><p>未查到店铺</p></div>-->
        <!--<div class="lenovoCanNotFind" ng-if="lenovoList.length"><p>正在查找店铺。。。</p></div>-->
    </section>
</smart-history-box>
<!--searach history end-->

<!--search lenovo-->
<!--<smart-history-box class="searchHistoryBox has-tabs-top" storage-name="shopSearchedHistory">-->
    <!--<ul class="historyList">-->
        <!--<li ng-repeat="history in historyList track by $index">-->
            <!--<span ng-click="searchThis(history)" ng-bind="history"></span>-->
        <!--</li>-->
    <!--</ul>-->
<!--</smart-history-box>-->
<!--search lenovo end-->