<!--挂在了whenSearch组件,当搜索框被点击时,隐藏不需要的部分-->
<!--<ion-view when-search title="品牌资讯" class="brandInfo whenSearch">-->
<ion-view view-title="品牌资讯" class="brandInfo" cache-view="false">
    <!--searchBox为通用控件-->
    <smart-search-box class="has-header">
        <smart-search-input class="searchBoxInput">
            <i class="icon-search"></i>
            <input type="text" placeholder="请输入商铺名称/品牌" id="searchBoxInput" ng-model="searchFor">
            <smart-clean-input class="closeBtnBox">
                <div class="closeBtn icon-close"></div>
            </smart-clean-input>
        </smart-search-input>
        <smart-search-btn class="searchBoxBtn">搜索</smart-search-btn>
    </smart-search-box>
    <!--smart-tap-box为通用控件-->
    <smart-tap-box class=" has-tabs-top">
        <tap-select>
            <tap-header>
                <span ng-bind="levelName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setLevelName(item)" ng-repeat="item in levelArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
        <tap-select>
            <tap-header>
                <span ng-bind="typeName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setTypeName(item)" ng-repeat="item in typeArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
        <tap-select>
            <tap-header>
                <span ng-bind="orderName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setOrderName(item)" ng-repeat="item in orderArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
    </smart-tap-box>
    <!--<ion-content id="searchResult" class="" style="top: 134px;">-->
    <ion-content id="scroll-content" class="has-header has-subheader has-tabs-top" overflow-scroll="true">
        <!--shopList-->
        <div class="list shopList">

            <!--each-->
            <div class="shopEach " ng-repeat="item in dataToDisplay track by $index">
                <!--图片-->
                <div ui-sref="subNav.brandDetail({detail:item.shopid})" class="imgBox">
                    <!--<img src="img/collection/xiaonanguo.png" alt="">-->
                    <img class="" ng-src="{{::item.logourl | addImgPrefix}}" err-src="">
                    <!--商铺信息-->
                    <div class="collectionInfo clearfix">
                        <h2 class="wordLine" ng-bind="::item.name"></h2>
                        <!--<span class="tag new">新</span>-->
                        <!--<span class="tag discount">惠</span>-->
                    </div>
                </div>

                <!--红心-->
                <!--<div class="starBox" ng-class="{1:'collected',0:''}[item.iscollect]"-->
                     <!--ng-click="changeCollectionState($event,item)">-->
                    <!--<div class="star redStar whiteStar"></div>-->
                <!--</div>-->
                <div class="starBox" ng-class="{1:'collected',0:''}[item.iscollect]"
                     ng-click="beforeCollection($event,item)">
                    <div class="star redStar whiteStar"></div>
                </div>
            </div>
            <!--each end-->

            <!--抱歉,暂无数据!-->
            <div class="noDataToDisplay" ng-if=" dataToDisplay.length== 0">
                <p>列表无数据!</p>
                <p>商户信息会后需添加,请随时关注!</p>
            </div>
            <p class="noDataToDisplay" ng-if="!moreDataCanBeLoaded && dataToDisplay.length>findNum">
                列表加载完毕!</p>
        </div>
        <!--shopList end-->

        <ion-infinite-scroll  ng-show="moreDataCanBeLoaded" distance="5%" on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>

<!--searach history-->
<smart-history-box class="searchHistoryBox has-tabs-top" storage-name="shopSearchedHistory">
    <div class="historyTitle" ng-click="deleteHistory(-1)">清除所有搜索记录</div>
    <ul class="historyList">
        <li ng-repeat="history in historyList track by $index">
            <span ng-click="searchThis(history)" ng-bind="history"></span>
            <span class="closeBtn" ng-click="deleteHistory($index)"></span>
        </li>
    </ul>
</smart-history-box>
<!--searach history end-->