<ion-view title="品牌介绍" class="brandDetail">
    <ion-content>
        <!--图片Box-->
        <div class="imgBox placeholder_178_2">
            <img class=""  ng-src="{{::item.logourl}}"  err-src="">
            <p class="wordLine" ng-bind="::item.name"></p>
            <!--更多信息-->
            <div class="moreInfoBox">
                <div class="moreInfo">
                    <!--点赞-->
                    <div class="wowBox" ng-click="wowBtn()">
                        <div class="wow">
                            <span>0</span>
                            <i class="icon ion-wow"></i>
                        </div>
                    </div>
                    <!--收藏-->
                    <!--<div class="collectionBox" ng-click="changeCollectionState($event,item)">-->
                        <!--<div class="collection" ng-class="{1:'collected',0:''}[item.iscollect]">-->
                            <!--<div class="star redStar whiteStar"></div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="collectionBox" ng-click="beforeCollection($event,item)">
                        <div class="collection" ng-class="{1:'collected',0:''}[item.iscollect]">
                            <div class="star redStar whiteStar"></div>
                        </div>
                    </div>

                    <!--红心-->
                    <!--<div class="starBox" ng-class="{1:'collected',0:''}[item.iscollect]" ng-click="changeCollectionState($event,item)">-->
                        <!--<div class="star redStar whiteStar"></div>-->
                    <!--</div>-->
                    <!--分享-->
                    <div class="shareBox" wx-shareguide ng-click="shareBtn()">
                        <div class="share">
                            <i class="icon ion-shared"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--门店信息-->
        <div class="detailInfo">
            <section>
                <div>
                    <i class="icon ion-renjun"></i><span>&emsp;人均: <span ng-bind="::item.percapitaconsumption">0</span>元</span>
                </div>
                <div>
                    <i class="icon ion-area"></i><span>&emsp;<span class="underline" ng-bind="::item.area"></span></span>
                </div>
                <div>
                    <a ng-href="tel:{{::item.telephone}}"><i class="icon ion-phone"></i><span>&emsp;<span class="phone"  ng-bind="::item.telephone"></span></span></a>
                </div>
            </section>
        </div>
        <!--门店优惠信息-->
        <ul ng-if="false" class="shopDetail">
            <li>慢300减50</li>
            <li>85折代金券</li>
            <li>满500送50抵用券</li>
        </ul>
        <!--商户介绍-->
        <div class="shopIntroduction">
            <p><strong>商户介绍:</strong></p>
            <!--商户介绍-->
            <div ng-bind-html="item.desc | textWithBr"></div>
        </div>
    </ion-content>
</ion-view>
