<ion-view title="忘记密码" class="white-bg">
  <ion-content class="register">
    <div class="logo-vivoCtiy"></div>
    <div class="list login-list">
      <label for="telephone" class="item item-input">
        <i class="ion-authorize ion-phone"></i>
        <input type="tel" name="telephone" id="telephone" ng-model="params.telephone" placeholder="手机号" maxlength="11">
      </label>

      <div class="item-inline ">
        <label for="registerNum" class="item-input-wrapper">
          <i class="ion-authorize ion-yanzhengma"></i>
          <input type="text" id="registerNum" name="registerTel" placeholder="验证码" ng-model="params.verificationCode" maxlength="6">
        </label>
        <div ng-click="getVerificationCode()" class="verificationCode" id="verificationCode">{{codeBtnText || '发送验证码'}}</div>
      </div>


      <label for="psw" class="item item-input">
        <i class="ion-authorize ion-psw"></i>
        <input type="password" name="psw" id="psw" placeholder="输入密码" ng-model="params.password">
      </label>
      <label for="pswRept" class="item item-input">
        <i class="ion-authorize ion-psw"></i>
        <input type="password" name="pswRept" id="pswRept" placeholder="确认密码" ng-model="params.pswRept">
      </label>

      <div class="registerCheckBox" style="height: 0.5rem;">
        <!--<label for="negotiate">-->
          <!--&lt;!&ndash;<input ng-class="{true:'selected',false:''}[ischecked]" ng-click="checked()" type="checkbox" id="negotiate" name="negotiate">注册即视为同意 《<span class="xieyishuoming">用户服务协议</span>》&ndash;&gt;-->
        <!--</label>-->
      </div>

      <div class="loginButton" ng-click="submitForm()">确认</div>
      <!--<div class="loginButton" ui-sref="subNav.registerSuccess">确认</div>-->
    </div>
  </ion-content>
</ion-view>
