<!--<ion-view title="预定时间选择" class="bookTime">-->
    <!--<ion-content class="book_cotent">-->
        <!--<section class="chooseDate">-->
            <!--<div class="chooseDate__header">选择日期</div>-->
            <!--<div class="chooseDate__dateBox">-->
                <!--<span class="chooseDate__dateBox-each active" ng-click="chooseThisDate($event)">今天</span>-->
                <!--<span class="chooseDate__dateBox-each" ng-click="chooseThisDate($event)">11.13</span>-->
                <!--<span class="chooseDate__dateBox-each" ng-click="chooseThisDate($event)">11.14</span>-->
                <!--<span class="chooseDate__dateBox-each" ng-click="chooseThisDate($event)">11.15</span>-->
            <!--</div>-->
        <!--</section>-->

        <!--<section class="chooseTime">-->
            <!--<div class="chooseTime__header">选择时间</div>-->
            <!--<div class="chooseTime__timeBox">-->
                <!--<div class="row"  ng-repeat="arr in dateArr track by $index">-->
                    <!--<span class="timeBox" ng-repeat="date in arr track by $index">-->
                        <!--&lt;!&ndash;不能点击&ndash;&gt;-->
                        <!--<span class="timeBox__span can_not_use" ng-if="!date.isActivated"><span ng-bind="date.hours"></span>:<span ng-bind="date.minutes"></span></span>-->
                        <!--&lt;!&ndash;能点击&ndash;&gt;-->
                        <!--<span class="timeBox__span can_use" ng-if="date.isActivated" ng-click="chooseThisTime(date.this_time,$event)"><span ng-bind="date.hours"></span>:<span ng-bind="date.minutes"></span></span>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->

    <!--</ion-content>-->
    <!--<div class="bottomBtn_box">-->
        <!--<button class="button button-block button-stable"  ng-click="goBack()">确定</button>-->
    <!--</div>-->
<!--</ion-view>-->
