/*notice*/

.notice{
  //padding-top: 0.3rem !important;;
  .noticeItems{
    height:1.76rem;
    box-sizing: content-box;
    .item-content{
      padding:0.26rem 0.49rem 0.26rem 0.49rem;
      //height:53px;
      h2{
        font-size:0.4rem;
        line-height:120%;
        //outline:1px solid transparent;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        //font-weight: bolder;
        margin-bottom:0.18rem;
        //padding: 0.1rem;
        //margin: -0.1rem;
      }
      h4{
        font-size:0.3rem;
        line-height:120%;
        //outline:1px solid transparent;
        font-weight: 100;
        margin-bottom:0.15rem;
        //padding: 0.1rem;
        //margin: -0.1rem;
      }
      p{
        font-size:0.2rem;
        line-height:120%;
        //outline:1px solid transparent;
        //padding: 0.1rem;
        //margin: -0.1rem;
      }
    }

    &.read{
      .item-content{
        h2{
          font-weight: bolder;
        }
        h4{
          font-weight: bolder;
        }
      }
    }
    &.unread{
      .item-content{
        h2{
          font-weight: 400;
        }
        h4{
          font-weight: 400;
        }
      }
    }
  }





}


