//自助停车
.selfPark {

  padding-top: 0.5rem !important;
  .parkInfo {
    p {
      margin-bottom: 0;
    }
    .parkInfoDetail {
      color: $stable;
      @include display-flex;
      @include justify-content(center);
      @include flex-wrap(nowrap);
      @include align-items(flex-start);

      //display: flex;
      //justify-content: center;
      //flex-wrap: nowrap;
      //align-items: flex-start;
      i {
        width: 0.84rem;
        height: 0.84rem;
        display: inline-block;
      }
      div {
        margin-left: 0.2rem;
        & > p {
          font-size: 0.3rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 140%;
        }
        & > span {
          color: #535353;
          font-size: 0.2rem;
          .parkLink {
            color: #a91f7f;
            text-decoration: underline;
          }
        }
      }

    }
  }
  .parkSelection {
    margin-top: 0.46rem;
    padding-top: 0.38rem;
    width: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $stable;
    .parkBtn {
      margin-left: auto;
      margin-right: auto;
      width: 2.04rem;
      height: 0.53rem;
      border: 1px solid $stable;
      border-radius: 5px;
      text-align: center;
      line-height: 0.53rem;
      box-sizing: content-box;
      color: $stable;
      font-size: 0.28rem;
      font-weight: bold;
    }
    .parkBtn:active{
      background-color:$touched;
    }
    .parkSelectionItems {
      //padding-left: 0.5rem;
      //padding-right:0.5rem;
      padding-top: 0.73rem !important;
      @include display-flex;
      @include justify-content(space-around);
      @include align-items(center);
      @include flex-wrap(wrap);

      //display: flex;
      //justify-content: space-around;
      //align-items: center;
      //flex-wrap: wrap;
      .parkSelectionItemsRow {
        @include display-flex;
        @include justify-content(space-around);
        //display: flex;
        //justify-content: space-around;
        margin: 0 0 0.63rem;
        .each {
          width: 2.65rem;
          border: 2px solid $stable;
          height: 2.65rem;
          border-radius: 100%;
          @include display-flex;
          @include justify-content(center);
          @include align-content(center);
          @include flex-wrap(wrap);
          //display: flex;
          //justify-content: center;
          //align-content: center;
          //flex-wrap: wrap;

          i {
            width: 0.76rem;
            height: 0.73rem;
            color: $stable;
            display: inline-block;
            position: relative;
            //font-size: 43px;
          }
          div {
            color: $stable;
            font-size: 0.4rem;
            width: 100%;
            margin-top: 0.18rem;
            font-weight: bolder;
          }
        }
        .pleaseHolder {
          border: 1px solid transparent;
        }
      }

    }
  }

}

//找回爱车
.findCar {
  height: 100%;
  //padding-bottom:44px;
  position: relative;

  .inputBox {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 6.57rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #313131;
    .inputBoxEach {
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
      @include flex-wrap(nowrap);

      //display: flex;
      //justify-content: center;
      //flex-wrap: nowrap;
      //align-items: center;
      span {
        font-size: 0.36rem;
        color: #313131;
        margin-right: 0.2rem;
      }

      input {
        height: 0.92rem;
        width: 5.87rem;
        border: 1px solid #313131;
        padding-left: 0.25rem;
        border-radius: 5px;
        font-size: 0.3rem;
        outline: none
      }

    }
    .inputBoxBtns {
      padding: 0.2rem 0.1rem 0.2rem 0;
      @include display-flex;
      @include justify-content(flex-end);
      @include flex-wrap(nowrap);

      //display: flex;
      //justify-content: flex-end;
      //flex-wrap: nowrap;

      & > div {
        width: auto;
        box-sizing: content-box;
        height: 0.58rem;
        padding: 0 0.09rem;
        font-size: 0.3rem;
        line-height: 0.58rem;
        margin-left: 0.23rem;
        border: 1px solid #313131;
        text-align: center;

      }
    }
  }

}

.btnBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:0.42rem;
  padding-top:0.2rem;
  background:rgba(256,256,256,0.6);
  p {
    text-align: center;
    color: $stable;
    font-size: 0.3rem;
    margin-bottom: 0.4rem;
  }
  .hasChoose{
    color:#535353;
    font-size:0.3rem;
    text-align: center;
    margin-bottom:0.23rem;

  }

  .btnBoxInner {
    font-size: 0.38rem;
    text-align: center;
    height: 0.93rem;
    width: 6.53rem;
    line-height: 0.93rem;
    background-color: $stable;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;


  }
}

//自助缴费
.selfPay {
  .scannerBox {
    margin-top: 0.9rem;
    width: 6.48rem;
    height: 3.96rem;
    margin-left: auto;
    margin-right: auto;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);

    //display: flex;
    //justify-content: center;
    //align-items: center;
    position: relative;

    & > div {
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
    }
    & > div:nth-child(1) {
      top: 0;
      left: 0;
      border-left: 1px solid $stable;
      border-top: 1px solid $stable;
    }
    & > div:nth-child(2) {
      top: 0;
      right: 0;
      border-right: 1px solid $stable;
      border-top: 1px solid $stable;
    }
    & > div:nth-child(3) {
      bottom: 0;
      left: 0;
      border-left: 1px solid $stable;
      border-bottom: 1px solid $stable;
    }
    & > div:nth-child(4) {
      bottom: 0;
      right: 0;
      border-right: 1px solid $stable;
      border-bottom: 1px solid $stable;
    }

    & > img {
      width: 5.7rem;
      height: 3.02rem;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .detailBox {
    margin-top: 0.53rem;
    p {
      text-align: center;
      font-size: 0.36rem;
      color: $stable;
      margin-bottom: 0.1rem;

    }
  }

}

//自助缴费-paylist
.selfParkToPay{
  padding-left: 0.45rem;
  padding-right:0.45rem;



  .parkInfo{
    margin-top:0.38rem;

    li{
      height:0.9rem;
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(center);
      @include flex-wrap(nowrap);

      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      //flex-wrap: nowrap;
      font-size:0.36rem;
      color:#535353;
      span{
      }
    }
  }
  .payList{
    padding-bottom: 2rem;
    .payItem{
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(center);
      @include flex-wrap(nowrap);

      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      //flex-wrap: nowrap;
      height:1.23rem;
      font-size:0.36rem;
      color:#535353;
      border-bottom:1px solid #c9c9c9;
      i{
        font-size:0.5rem;
        width: 0.5rem;
        @include display-flex;
        @include justify-content(center);
        @include align-items(center);

        //display: flex;
        //justify-content:center;
        //align-items: center;
      }
      .jifendikou{
        color:#535353;
        @include display-flex;
        @include justify-content(center);
        @include flex-direction(column);
        @include align-items(flex-end);

        //display: flex;
        //justify-content: center;
        //flex-direction: column;
        //align-items: flex-end;
        .canUse{
          border:1px solid #535353;
          padding-left:0.2rem;
          padding-right:0.2rem;
          display: block;


        }
        .useInfo{
          font-size:0.22rem;
          line-height:140%;
        }
      }
    }
    #couponItem{
      &>.payItem{
        border-top: 1px solid #c9c9c9;
        i{
          transition: -webkit-transform ease 200ms;
        }
      }

      .couponList{
        display: none;
        .payItem{
          height:1rem;
          background-color:#F9F9F9;
          padding:0 0.1rem;
          //width:95%;
          margin-left:auto;
          margin-right:auto;
          font-size: 0.26rem;
          i{

          }
        }
      }

      &.active{
        .couponList{
          display: block;
        }
        i{
          transform:rotate(90deg);
        }
      }
    }

  }
}
