<ion-view title="我的积分" class="">
  <ion-content>
    <div class="integralItems">
      <div class="row integralItemsRow">
        <div class="each text-center" ng-click="" ui-sref="subNav.memberSelfIntegral">
          <i class="icon-integral ion-selfIntegral"></i>
          <div>自助积分</div>
        </div>
        <div class="each text-center" ng-click="" ui-sref="subNav.memberIntegralQuery">
          <i class="icon-integral ion-selfQuery"></i>
          <div>积分查询</div>
        </div>
      </div>
      <div class="row integralItemsRow" ui-sref="subNav.memberIntegralMall">
        <div class="each text-center">
          <i class="icon-integral ion-selfMall"></i>
          <div>积分商城</div>
        </div>
        <div class="each pleaseHolder text-center"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
