body {
    margin: 0;
}

.wx_loading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 0.5rem;
    z-index: 999;
    background: transparent url(./img/loading/loadingBg.png) no-repeat center center/cover;
    -webkit-transition: opacity ease 500ms;
    transition: opacity ease 500ms;
}

.wx_loading .wx_loading_bg {
    width: 4.50rem;
    height: 2.11rem;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    margin-bottom: 0.66rem;
}

.wx_loading .wx_loading_bg img {
    width: 100%;
    height: 100%;
}

.wx_loading .wx_loading_icon {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    margin-bottom: 38.2%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.wx_loading .wx_loading_icon img {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    -webkit-animation: revolve 2s linear infinite reverse;
    animation: revolve 2s linear infinite reverse;
}

.wx_loading .wx_loading_icon p {
    display: block;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 0.28rem;
}

@-webkit-keyframes revolve {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes revolve {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}