@charset "utf-8";
body {
  margin: 0;
}

.wx_loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0.5rem;
  z-index: 999;
  background: #b51e87 url(./img/loading/loadingBg.png) no-repeat center center/cover;
  -webkit-transition: opacity ease 500ms;
  transition: opacity ease 500ms;
  //loading plane
  .loading_plane_box {
    width:3.78rem;
    height:3.78rem;
    background:rgba(256,256,256,0.4);
    border-radius: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;

    margin-bottom: 3.78rem;



    .loading_plane_box_inner{
      //outline:1px solid red;
      width:3.34rem;
      height:3.34rem;
      display: block;
      position: absolute;
      z-index:3;
      top:0.22rem;
      left:0.22rem;
      background:rgba(256,256,256,0.6);
      border-radius: 100%;
      overflow: hidden;
      .plane{
        height:1.17rem;
        width:1.33rem;
        background:url(img/loading/loading_phane.png) no-repeat center center/cover;
        display: block;
        position: absolute;
        z-index:2;
        top: 0.5rem;
        left: 0.7rem;
        animation: plane_fly 10s linear infinite;
      }
      $wave-x:10%;
      $wave-y:10%;
      @keyframes plane_fly {
        0% {
          transform: translate(0,0);
        }
        25% {
          transform: translate(0,$wave-y);
        }
        50% {
          transform: translate($wave-x,0);
        }
        75% {
          transform: translate($wave-x,$wave-y);
        }
        100% {
          transform: translate(0,0);
        }
      }
      .plane_bg{
        overflow: hidden;
        height:3.34rem;
        width:6.68rem;
        display: flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction:row;
        z-index:1;
        .plane_bg_each{
          height:3.34rem;
          width:3.34rem;
          position: absolute;
          left:0;
          top:0;
          z-index:1;
        }
        $speed:2s;
        .plane_bg_1{
          background:url(img/loading/1.png) no-repeat center center/cover;
          animation: bg_fly_1 $speed linear forwards;
        }
        .plane_bg_2{
          background:url(img/loading/2.png) no-repeat center center/cover;
          animation: bg_fly_2 $speed*2 linear infinite;
        }
        .plane_bg_3{
          transform: translatex(100%);
          background:url(img/loading/1.png) no-repeat center center/cover;
          animation: bg_fly_2 $speed*2 linear $speed infinite;
        }
      }

      @keyframes bg_fly_1 {
        from {
          transform: translatex(0%);
        }
        to {
          transform: translatex(-100%);
        }
      }
      @keyframes bg_fly_2 {
        from {
          transform: translatex(100%);
        }
        to {
          transform: translatex(-100%);
        }
      }
    }
  }
  //logo
  .wx_loading_logo {
    position:absolute;
    bottom:0.66rem;
    width: 2rem;
    height: 0.94rem;
    overflow: visible;
    margin-left:-1rem;
    left:50%;
    background:url(img/loading/vivocityLogo.png) no-repeat center center/cover;
  }
}



@keyframes revolve {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}