
//积分商城,中间的tab样式
//我的卡券礼券,中间的tab样式
.tapBox {
  z-index:10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  font-size: 0.3rem;
  color: #565656;
  padding: 0;
  border-bottom: 1px solid #eee;
  background-color:#fff;
  .selectBox {
    flex: 1;
    height: 100%;
    line-height: 0.88rem;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .tapHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      //border-bottom: 1px solid #eee;
    }
    .tapList {
      opacity: 0;
      height: 0;
      overflow: hidden;
      position: absolute;
      //top: 40px;
      display: block;
      top: 0.88rem !important;
      width: 100%;
      background-color: #fff;
      text-align: center;
      padding: 0 0.1rem;
      transition: opacity ease 200ms;
      max-height:5rem;
      overflow: scroll;
      //box-shadow: 0 0.1872rem 0.234rem #d5d5d5;
      .tapItem {
        height: 0.88rem;
        display: block;
        line-height: 0.88rem;
        border-bottom: 1px solid #ddd;
      }
      .tapItem:last-child {
        border-bottom: none;
      }
      .tapItem.activated {
        background-color: #f3f3f3;
      }
      //.tapItem:active {
      //  background-color: #ddd;
      //}
    }
  }
  .selectBox:nth-child(n)::after {
    content: '';
    height: 0.33rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0.303rem;
    width: 100%;
    border-right: 1px solid #565656;
  }
  .selectBox:last-child::after {
    border-right: 1px solid transparent;
  }

  //show select list
  .beforeShowList{
    .tapList {
      //opacity: 1;
      height: auto;
      z-index: 6;
    }
  }
  .showList {
    .tapList {
      opacity: 1;
      //height: auto;
      //z-index: 6;
    }
    .icon-arrow-down {
      transform: rotate(180deg);
    }
  }
}
#scroll-content::before {
  content: '';
  //background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  opacity: 0;
  //transition: opacity ease 200ms;;
}
.active#scroll-content::before {
  opacity: 1;
  z-index: 5;
}
