
<ion-view title="注册" class="white-bg">
  <div class="list has-header registerSuccess">
    <div class="registerSuccessInfo">
      <h2>注册成功</h2>
      <p>完善个人资料，可获得200积分（可兑换电子优惠券及礼品，线上停车缴费可使用）
        微信分享至好友或朋友圈，当好友通过此链接注册成功后，您也可以获得50积分/人的奖励！
      </p>
      <p>成为持卡普通会员/VIP会员后更可获享怡丰城内高速上网权益，详情请点击个人中心内【会员权益】。</p>
    </div>

    <div class="registerSuccessBtn">
      <div ui-sref="subNav.memberInfo">立即完善</div>
      <div ng-click="backToHome()" class="">下次再说</div>
      <div ng-click="shareBtn()" class="">微信分享</div>
    </div>

  </div>
</ion-view>

