<ion-view title="投诉建议" class="newQuestionModal white-bg" overflow-scroll="true">
    <ion-content class="">
        <div class="inputBox">
            <input ng-model="newQuestion.name" type="text" placeholder="请输入标题">
        </div>
        <div class="textareaBox">
            <textarea rows="99" ng-model="newQuestion.detail" placeholder="请输入内容"></textarea>
        </div>
    </ion-content>
    <div class="btnBox">
        <button class="bottomBtn button button-block button-stable" ng-click="submit()">提交</button>
        <a class="bottomBtn button button-block button-outline" href="tel://{{serviceTel}}" ng-click=""><span>联系客服: <span ng-bind="serviceTel"></span></span></a>
    </div>
</ion-view>
