<ion-view title="自助积分" class="">
  <div class="has-header content selfIntegral">
    <h4 class="infoTitle text-center">
      <span ng-class="{1:'hide',0:'show'}[isShown]">扫码积分</span>
      <span ng-class="{1:'show',0:'hide'}[isShown]">拍照积分</span>
    </h4>
    <section class="selfIntegral-contentBox">
      <div class="selfIntegral-content" id="selfIntegral-content" style="height: 80%;">

        <div class="selfIntegral-content-inner">

          <!-- Swiper -->
          <ion-slide-box
                  does-continue="false"
                  delegate-handle="selfIntegralInfo"
                  show-pager="false"
                  on-slide-changed="silderChange($index)">
            <ion-slide>
              <div class="box">
                <img src="img/integral/saoma-demo.png" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box">
                <img src="img/integral/paizhao-demo.png" alt="">
              </div>
            </ion-slide>
          </ion-slide-box>

        </div>
      </div>
      <div class="selfIntegral-btn text-center center-block" ng-click="showActionSheet()">
        自助积分
      </div>
    </section>
    <div class="arrow">
      <i ng-click="showSilderLeft()" ng-class="{1:'active',0:''}[isShown]" class="arrow-left icon ion-ios-arrow-left"></i>
      <i ng-click="showSilderRight()" ng-class="{1:'',0:'active'}[isShown]" class="arrow-right icon ion-ios-arrow-right"></i>
    </div>
  </div>

</ion-view>
