@charset "utf-8";
body {
  margin: 0;
  //background-color:#b51e87;
}

* {
  //outline: 1px solid #eee;
}

.wx_loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0.5rem;
  z-index: 999;
  background-color: #fff;
  margin:0;
  padding:0;
  opacity:1;
  transition: all ease 300ms;
  .wx_loading_bg {
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 0.5rem;
    background: url(img/loadingBg.png) no-repeat center center/100% auto;

    -webkit-transition: opacity ease 500ms;
    transition: opacity ease 500ms;
    z-index:999;
  }

  $wave_box_width:5rem;
  $wave_width:$wave_box_width/3;
  $wave_box_height:2.2rem;


  .wx_loading_waveBox {
    position: absolute;
    top: 50%;
    width: $wave_box_width;
    height: $wave_box_height;
    left: 50%;
    margin-left: -$wave_box_width/2;
    margin-top: -2.6rem;
    padding: 0;
    z-index: 1;

    $wx_loading_wave_height:$wave_box_height*1.5;
    $wx_loading_wave_top:$wave_box_height*1;

    .wx_loading_waveBox_position{
      border:none;
      outline:none;
      position: absolute;
      width: 100%;
      height: $wx_loading_wave_height;
      opacity: 1;
      top: $wx_loading_wave_top;
      &.whiteBlock{
        background-color:#fff;
        z-index:2;
      }
      &.wx_loading_wave {
        background: url(img/wave.png) bottom center/$wave_width $wx_loading_wave_height;
        background-repeat: repeat-x;
        animation: wave-animation 1000ms infinite linear forwards;
        transition: transform ease 1000ms;
        z-index:1;
      }
    }

  }
  @keyframes wave-animation {
    0% {
      background-position: 0 bottom;
    }

    100% {
      background-position:$wave_width bottom;
    }
  }

  //$wave-x:10%;
  //$wave-y:10%;
  //@-webkit-keyframes wave_flow {
  //  0% {
  //    -webkit-transform: translate(0,0);
  //    transform: translate(0,0);
  //  }
  //  25% {
  //    -webkit-transform: translate(0,$wave-y);
  //    transform: translate(0,$wave-y);
  //  }
  //  50% {
  //    -webkit-transform: translate($wave-x,0);
  //    transform: translate($wave-x,0);
  //  }
  //  75% {
  //    -webkit-transform: translate($wave-x,$wave-y);
  //    transform: translate($wave-x,$wave-y);
  //  }
  //  100% {
  //    -webkit-transform: translate(0,0);
  //    transform: translate(0,0);
  //  }
  //}
  //@keyframes wave_flow {
  //  0% {
  //    -webkit-transform: translate(0,0);
  //    transform: translate(0,0);
  //  }
  //  25% {
  //    -webkit-transform: translate(0,$wave-y);
  //    transform: translate(0,$wave-y);
  //  }
  //  50% {
  //    -webkit-transform: translate($wave-x,0);
  //    transform: translate($wave-x,0);
  //  }
  //  75% {
  //    -webkit-transform: translate($wave-x,$wave-y);
  //    transform: translate($wave-x,$wave-y);
  //  }
  //  100% {
  //    -webkit-transform: translate(0,0);
  //    transform: translate(0,0);
  //  }
  //}
  ////loading plane
  //.loading_plane_box {
  //  width:3.78rem;
  //  height:3.78rem;
  //  background:rgba(256,256,256,0.4);
  //  -webkit-border-radius: 100%;
  //  border-radius: 100%;
  //  display: -webkit-box;
  //  display: -webkit-flex;
  //  display: -ms-flexbox;
  //  display: flex;
  //  -webkit-box-pack:center;
  //  -webkit-justify-content:center;
  //  -ms-flex-pack:center;
  //  justify-content:center;
  //  -webkit-box-align: center;
  //  -webkit-align-items: center;
  //  -ms-flex-align: center;
  //  align-items: center;
  //  position: relative;
  //
  //  margin-bottom: 3.78rem;
  //
  //
  //
  //  .loading_plane_box_inner{
  //    //outline:1px solid red;
  //    width:3.34rem;
  //    height:3.34rem;
  //    display: block;
  //    position: absolute;
  //    z-index:3;
  //    top:0.22rem;
  //    left:0.22rem;
  //    background:rgba(256,256,256,0.6);
  //    -webkit-border-radius: 100%;
  //    border-radius: 100%;
  //    overflow: hidden;
  //    .plane{
  //      height:1.17rem;
  //      width:1.33rem;
  //      background:url(img/loading/loading_phane.png) no-repeat center center/cover;
  //      display: block;
  //      position: absolute;
  //      z-index:2;
  //      top: 0.5rem;
  //      left: 0.7rem;
  //      -webkit-animation: plane_fly 10s linear infinite;
  //      animation: plane_fly 10s linear infinite;
  //    }

  //    .plane_bg{
  //      overflow: hidden;
  //      height:3.34rem;
  //      width:6.68rem;
  //      display: -webkit-box;
  //      display: -webkit-flex;
  //      display: -ms-flexbox;
  //      display: flex;
  //      -webkit-box-pack:start;
  //      -webkit-justify-content:flex-start;
  //      -ms-flex-pack:start;
  //      justify-content:flex-start;
  //      -webkit-box-align:center;
  //      -webkit-align-items:center;
  //      -ms-flex-align:center;
  //      align-items:center;
  //      -webkit-box-orient:horizontal;
  //      -webkit-box-direction:normal;
  //      -webkit-flex-direction:row;
  //      -ms-flex-direction:row;
  //      flex-direction:row;
  //      z-index:1;
  //      .plane_bg_each{
  //        height:3.34rem;
  //        width:3.34rem;
  //        position: absolute;
  //        left:0;
  //        top:0;
  //        z-index:1;
  //      }
  //      $speed:2s;
  //      .plane_bg_1{
  //        background:url(img/loading/1.png) no-repeat center center/cover;
  //        -webkit-animation: bg_fly_1 $speed linear forwards;
  //        animation: bg_fly_1 $speed linear forwards;
  //      }
  //      .plane_bg_2{
  //        background:url(img/loading/2.png) no-repeat center center/cover;
  //        -webkit-animation: bg_fly_2 $speed*2 linear infinite;
  //        animation: bg_fly_2 $speed*2 linear infinite;
  //      }
  //      .plane_bg_3{
  //        -webkit-transform: translatex(100%);
  //        transform: translatex(100%);
  //        background:url(img/loading/1.png) no-repeat center center/cover;
  //        -webkit-animation: bg_fly_2 $speed*2 linear $speed infinite;
  //        animation: bg_fly_2 $speed*2 linear $speed infinite;
  //      }
  //    }
  //
  //    @-webkit-keyframes bg_fly_1 {
  //      from {
  //        -webkit-transform: translatex(0%);
  //        transform: translatex(0%);
  //      }
  //      to {
  //        -webkit-transform: translatex(-100%);
  //        transform: translatex(-100%);
  //      }
  //    }
  //
  //    @keyframes bg_fly_1 {
  //      from {
  //        -webkit-transform: translatex(0%);
  //        transform: translatex(0%);
  //      }
  //      to {
  //        -webkit-transform: translatex(-100%);
  //        transform: translatex(-100%);
  //      }
  //    }
  //    @-webkit-keyframes bg_fly_2 {
  //      from {
  //        -webkit-transform: translatex(100%);
  //        transform: translatex(100%);
  //      }
  //      to {
  //        -webkit-transform: translatex(-100%);
  //        transform: translatex(-100%);
  //      }
  //    }
  //    @keyframes bg_fly_2 {
  //      from {
  //        -webkit-transform: translatex(100%);
  //        transform: translatex(100%);
  //      }
  //      to {
  //        -webkit-transform: translatex(-100%);
  //        transform: translatex(-100%);
  //      }
  //    }
  //  }
  //}
  ////logo
  //.wx_loading_logo {
  //  position:absolute;
  //  bottom:0.66rem;
  //  width: 2rem;
  //  height: 0.94rem;
  //  overflow: visible;
  //  margin-left:-1rem;
  //  left:50%;
  //  background:url(img/loading/vivocityLogo.png) no-repeat center center/cover;
  //}
}

//
//@-webkit-keyframes revolve {
//  from {
//    -webkit-transform: rotate(0deg);
//    transform: rotate(0deg);
//  }
//  to {
//    -webkit-transform: rotate(360deg);
//    transform: rotate(360deg);
//  }
//}
//
//
//
//@keyframes revolve {
//  from {
//    -webkit-transform: rotate(0deg);
//    transform: rotate(0deg);
//  }
//  to {
//    -webkit-transform: rotate(360deg);
//    transform: rotate(360deg);
//  }
//}