<div class="firstGuideBox">
    <section class="userSilder active beforeActive" id="userSilder">
        <ion-slide-box delegate-handle="firstGuideBoxSlide" id="userSilderBox" class="userSilderBox" does-continue="false" show-pager="true" on-slide-changed="onSlideChange($index)">
            <ion-slide>
                <div class="contentBox bg-blue">
                    <div class="upBox">
                        <img src="img/firstInGuide/silder_1_img.png" alt="">
                    </div>
                    <div class="downBox">
                        <img src="img/firstInGuide/silder_1_word.png" alt="">
                    </div>
                    <div class="animateBox fadeInRight animated">
                        <img src="img/firstInGuide/silder_1_animate.png" alt="">
                    </div>
                </div>
                
                <!--<img src="img/home/home-bg.png" alt="">-->
            </ion-slide>
            <ion-slide>
                <div class="contentBox bg-red">
                    <div class="upBox">
                        <img src="img/firstInGuide/silder_2_img.png" alt="">
                    </div>
                    <div class="downBox">
                        <img src="img/firstInGuide/silder_2_word.png" alt="">
                    </div>
                    <div class="animateBox fadeInRight animated">
                        <img src="img/firstInGuide/silder_2_animate.png" alt="">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="contentBox bg-yellow">
                    <div class="upBox">
                        <img src="img/firstInGuide/silder_3_img.png" alt="">
                    </div>
                    <div class="downBox">
                        <img src="img/firstInGuide/silder_3_word.png" alt="">
                    </div>
                    <div class="animateBox fadeInRight animated">
                        <img src="img/firstInGuide/silder_3_animate.png" alt="">
                    </div>
                </div>
                <div class="iknowBox">
                    <span ng-click="silderEnd()" class="iknow">我知道了</span>
                </div>
            </ion-slide>
        </ion-slide-box>
    </section>
    <section class="userGuide" id="userGuide" ng-click="closeGuide()">
        <div class="userGuideBox">
            <img src="img/firstInGuide/usercenterGuide.png" alt="">
        </div>
        <div class="planetGuideBox">
            <img src="img/firstInGuide/planetGuide.png" alt="">
        </div>
    </section>
</div>