<ion-view title="停车缴费" class="" cache-view="false">
    <ion-content class="selfParkToPay">
        <ul class="parkInfo">
            <li>
                <span>停车券编号</span>
                <span ng-bind="::payInfo.ticketNumber"></span>
            </li>
            <li>
                <span>停车时间</span>
                <span ng-bind="::payInfo.entryTime"></span>
            </li>
            <li>
                <span>取车时间</span>
                <span ng-bind="::payInfo.nowTime"></span>
            </li>
            <li>
                <span>停车费用</span>
                <span ng-bind="::payInfo.price | currency:'￥'"></span>
            </li>
        </ul>
        <div class="payList">
            <!--停车券title-->
            <div class="payItem" ng-click="showParkingCoupon()" ng-class="{true:'active',false:''}[showCouponDetail]">
                <span>停车券</span>
                <section class="inter_title">
                    <span>当前抵扣</span>
                    <span ng-bind="coupon2money | currency:'￥'"></span>
                    <i class="right-payPark-arrow"></i>
                </section>
            </div>
            <!--卡券列表-->
            <div ng-show="showCouponDetail" class="itemInner">

                <section class="couponListInner">
                    <p class="interInfo_2 text-center">每小时停车券可抵扣<span ng-bind="parkingHour2money"></span>元停车费</p>

                    <div class="couponListEach" ng-repeat="coupon in finnalCouponArr track by $index" ng-click="selectParkingCoupon(coupon,$event)">
                        <div class="couponListEach_title">
                            <span class="couponListEach_title_1 wordLine" ng-bind="coupon.name"></span>
                            <span class="couponListEach_title_2">截止日期: <span ng-bind="coupon.limit_time_end.low | yyyyMd_HHmmss_cn"></span></span>
                        </div>
                        <i class="icon-selfPark-select icon-select"></i>
                    </div>
                </section>
            </div>


            <!--积分title-->
            <div class="payItem" ng-click="showIntergalGroup()" ng-class="{true:'active',false:''}[showIntergalDetail]">
                <span>积分抵扣</span>
                <section class="inter_title">
                    <span>当前抵扣</span>
                    <span ng-bind="intergal2money | currency:'￥'"></span>
                    <i class="right-payPark-arrow"></i>
                </section>
            </div>
            <!--积分列表-->
            <div ng-show="showIntergalDetail" class="itemInner">
                <span class="interInfo_1">选择抵扣积分</span>
                <span class="interInfo_2">当前积分<span ng-bind="::integralCanUse"></span>,满<span ng-bind="::needIntegral"></span>可抵扣￥<span ng-bind="::relatedMoney"></span>,最多可使用<span
                        ng-bind="::limitIntegral"></span>积分!</span>
                <div class="interEg">
                    <span ng-repeat="item in intergalGroupArr track by $index" ng-click="selectIntergral($index,$event)" ng-bind="item"></span>
                </div>
            </div>

            <div class="payItem payMethod" ng-click="selectWXToPay()" ng-class="{true:'active',false:''}[wxSelected]">
                <span>微信支付</span>
                <i class="icon-selfPark-select icon-select"></i>
            </div>
            <div ng-if="!isInWeiXin" class="payItem payMethod" ng-click="selectZFBToPay()"  ng-class="{true:'active',false:''}[zfbSelected]">
                <span>支付宝支付</span>
                <i class="icon-selfPark-select icon-select"></i>
            </div>
        </div>
    </ion-content>

    <div class="btnBox">
        <div class="hasChoose">

            <span ng-if="intergal2money || coupon2money">抵扣共计:<span ng-bind="(intergal2money + coupon2money)| currency:'￥'"></span></span>
            <span ng-if="(intergal2money || coupon2money) && (wxSelected)">,</span>
            <span ng-if="wxSelected || zfbSelected">余额使用:</span>
            <span ng-if="wxSelected">微信支付</span>
            <span ng-if="zfbSelected">支付宝支付</span>

            <!--<span ng-if="intergal2money">剩余费用适用:积分抵扣<span ng-bind="intergal2money"></span>元,</span>-->
            <!--<span ng-if="coupon2money">卡券抵扣<span ng-bind="coupon2money"></span>元,</span>-->
            <!--<span ng-if="wxSelected">微信支付</span>-->
        </div>
        <div class="btnBoxInner" ng-click="confirmToPay()">
            <span ng-if="finalPrice"><span ng-bind="finalPrice | currency:'￥'"></span></span>
            <!--￥20.00-->
            确认支付
        </div>
    </div>
</ion-view>
