<ion-view title="积分商城" class="integralMall">

    <smart-tap-box class="bar-subheader">
        <tap-select>
            <tap-header>
                <span ng-bind="typeName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setTypeName(item)"
                          ng-repeat="item in typeNameArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
        <tap-select>
            <tap-header>
                <span ng-bind="orderName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setOrderName(item)"
                          ng-repeat="item in orderNameArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
    </smart-tap-box>


    <ion-content id="scroll-content" class="has-subheader" overflow-scroll="true">

        <div class="list integralMallList">
            <div class="item integral item-icon-left item-icon-right" ng-click="goBack()">
                <span>我的积分: </span><span class="integralNum" ng-bind="::currenttotalnum"></span>
                <i class="icon-arrow-right"></i>
            </div>

            <section>
                <!--卡券-->
                <div ng-if="item.canDisplay" class="eachItems" ng-repeat="item in dataToDisplay track by $index">
                    <section
                            ui-sref="subNav.memberIntegralMallDetail({couponid:item.couponid,typecode:item.type_code})"
                            class="item item-thumbnail-left goodsEach">
                        <div class="placeholder_43_2 imgBox">
                            <img ng-src="{{::item.image_url | addImgPrefix}}" err-src="">
                        </div>
                        <div class="goodsEach-right">
                            <h2 ng-bind="::item.name"></h2>
                            <p><span class="integralNum" ng-bind="::item.point"></span>&ensp;<span>积分</span>
                            </p>
                            <div class="goodsEach-info clearfix">
                                剩余:<span ng-bind="::item.urplus_count"></span>/<span
                                    ng-bind="::item.max_assign_count"></span>
                            </div>
                        </div>
                    </section>
                    <section class="btns">
                        <div ng-if="item.type_code == '1'" ng-class="{
                        'zhekou':(item.category_code == '1'),
                        'diyong':(item.category_code == '2'),
                        'xianjin':(item.category_code == '3'),
                        'duihuan':(item.category_code == '4')}"
                             class="gouponTop"
                             ng-bind="::item.category_name | couponCategoryToName"></div>
                        <div ng-if="item.type_code == '2'" class="gouponTop lipin">礼品</div>
                        <div ng-if="!item.canConvert" class="convertBtn forbidden">兑换</div>
                        <div ng-if="item.canConvert" class="convertBtn" click-to-reward detail="item">
                            兑换
                        </div>
                    </section>
                </div>
                <!--抱歉,暂无数据!-->
                <div class="noDataToDisplay" ng-if=" dataToDisplay.length== 0">
                    <p>列表无数据!</p>
                    <p>卡券和礼品会后续添加,请随时关注!</p>
                </div>
                <p class="noDataToDisplay"
                   ng-if="!moreDataCanBeLoaded && dataToDisplay.length>findNum">列表加载完毕!</p>
            </section>
        </div>
        <ion-infinite-scroll ng-show="moreDataCanBeLoaded" distance="1%"
                             on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>

