<!--
首页文件
-->
<ion-view title="Home" class="home" first-in-guide>
    <ion-slide-box
            class="index-top-swiper"
            does-continue="true"
            slide-interval="1000"
            show-pager="false">
        <ion-slide>
            <img src="img/home/home_banner_1_hd.png" alt="">
        </ion-slide>
        <ion-slide>
            <img src="img/home/home_banner_2_hd.png" alt="">
        </ion-slide>
        <ion-slide>
            <img src="img/home/home_banner_3_hd.png" alt="">
        </ion-slide>
        <ion-slide>
            <img src="img/home/home_banner_4_hd.png" alt="">
        </ion-slide>
    </ion-slide-box>



    <ion-planet on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()" on-touch="onTouch()" on-release="onRelease()"
                class="index-bottom-swiper"
                id="index-bottom-swiper">
        <!--下部swiper-nav-->
        <div class="index-bottom-swiper-inner" id="index-bottom-swiper-inner">
            <div class="index-bottom-swiper-eachBox" ui-sref="subNav.selfPark">
                <div class="index-bottom-swiper-eachBox-i">
                    <i class="iconHome ion-tingche"></i>
                    <span>自助停车</span>
                </div>
            </div>

            <div class="index-bottom-swiper-eachBox" ui-sref="subNav.mallNavigate">
                <div class="index-bottom-swiper-eachBox-i">
                    <i class="iconHome ion-shangchang"></i>
                    <span>商场导航</span>
                </div>
            </div>
            <div class="index-bottom-swiper-eachBox" ui-sref="subNav.navigateToFenshu">
                <div class="index-bottom-swiper-eachBox-i">
                    <i class="iconHome ion-daohangzhi"></i>
                    <span>导航至<br>怡丰城</span>
                </div>
            </div>
            <div class="index-bottom-swiper-eachBox" ui-sref="subNav.fengshuNews">
                <div class="index-bottom-swiper-eachBox-i">
                    <i class="iconHome ion-zixun"></i>
                    <span>丰树资讯</span>
                </div>
            </div>

            <div class="index-bottom-swiper-eachBox" ui-sref="subNav.activities">
                <div class="index-bottom-swiper-eachBox-i">
                    <i class="iconHome ion-tuiguang"></i>
                    <span>推广活动</span>
                </div>
            </div>
            <div class="index-bottom-swiper-eachBox" ui-sref="subNav.brandInfo">
                <div class="index-bottom-swiper-eachBox-i">
                    <i class="iconHome ion-pinpai"></i>
                    <span>品牌资讯</span>
                </div>
            </div>
        </div>
    </ion-planet>


    <!--底部logo图,层级在行星图的上面,在此层滑动不会触发行星图的动作-->
    <section id="index-bottom-logo" class="index-bottom-logo" ng-click="toGame()">
        <div class="level-1">
            <img src="img/home/logo-bm.png" alt="">
        </div>
    </section>


</ion-view>

<!--member-->
<div id="member" class="member red-bg ">

    <div class="memberBox">


        <!--第一部分-->
        <section class="section1">
            <div class="chat ion-chat-notice ion-chat" ui-sref="subNav.chat"></div>

            <div class="headerImg">
                <img id="headerImg" ng-src="{{photo | addImgPrefix}}">
            </div>
            <div class="notice ion-chat-notice ion-notice" ui-sref="subNav.notice">
                <span class="num" ng-class="{true:'active',false:''}[messageNum]"></span>
            </div>
        </section>

        <!--第二部分-->
        <section class="section2">
            <div ui-sref="subNav.memberCard">
                <i class="ion-memberCR ion-memmberCard"></i>&ensp;
                <span>会员卡</span>
            </div>
            <div ui-sref="subNav.memberRights">
                <i class="ion-memberCR ion-memmberRight"></i>&ensp;
                <span>会员权益</span>
            </div>
        </section>

        <!--会员积分状态-->
        <section class="section3">
            <!--第一层-->
            <div class="vipState-lay1 clearfix">
                <span class="icon-vipState ion-vips ion-vip1" ng-if="vipLevel == 1"></span>
                <span class="icon-vipState ion-vips ion-vip2" ng-if="vipLevel == 2"></span>
                <span class="icon-vipState ion-vips ion-vip3" ng-if="vipLevel == 3"></span>
                <span ng-bind="userDisplayIntegral"></span>/<span ng-bind="nextIntegral"></span>
            </div>
            <!--第二层-->
            <div class="vipState-lay2">
                <div class="vipState-lay2-bg clearfix">
                    <div id="vipState-lay2-progress" class="vipState-lay2-progress">
                    </div>
                </div>
            </div>
            <!--第三层-->
            <div class="vipState-lay3">
                <div class="stateText" ng-if="vipLevel == 1 || vipLevel == 2">
                    <span>电子卡</span>
                    <span>普通卡</span>
                    <span>VIP</span>
                </div>
                <div class="stateTextVip" ng-if="vipLevel == 3">
                    <span>VIP会员到期日:</span>&ensp;<span ng-bind="vipEndTIme"></span>
                    <span class="stateTextVipBtn" ng-click="showVIPRule()">VIP规则</span>
                </div>
            </div>
        </section>


        <!--子栏目导航-->
        <!--<section class="section4">-->
            <div class="row rowEach">
                <div class="col col-33 colEach" ui-sref="subNav.memberIntegralQuery">
                    <i class="icon-memberItems ion-jifen"></i>
                    <div>我的积分</div>
                </div>
                <div class="col col-33 colEach" ui-sref="subNav.memberCoupon">
                    <i class="icon-memberItems ion-lipin"></i>
                    <div>礼品卡券</div>
                </div>
                <div class="col col-33 colEach" ui-sref="subNav.memberServices">
                    <i class="icon-memberItems ion-fuwu"></i>
                    <div>我的服务</div>
                </div>
            </div>
            <div class="row rowEach">
                <div class="col col-33 colEach" ui-sref="subNav.memberCollection">
                    <i class="icon-memberItems ion-shanghu"></i>
                    <div>关注商户</div>
                </div>
                <div class="col col-33 colEach" ui-sref="subNav.memberInfo">
                    <i class="icon-memberItems ion-perinfo"></i>
                    <div>个人资料</div>
                </div>
                <div class="col col-33 colEach" ui-sref="subNav.memberChangePassword">
                    <i class="icon-memberItems ion-chpsw"></i>
                    <div>修改密码</div>
                </div>
            </div>

            <div class="row rowEach" ng-hide="::isInWeiXin">
                <div  class="col col-33 colEach colEach-noDivider" ng-click="doLogout()">
                    <i class="icon-memberItems ion-logout"></i>
                    <div>退出登录</div>
                </div>
            </div>

        <!--</section>-->

        <section ng-click="showHome()" on-swipe-up="showHome()"  on-touch="onTouch()" on-release="onRelease()" class="section5 center-block text-center">
            <i class="icon ion-ios-arrow-up"></i>
            <p>返回首页</p>
        </section>
    </div>

    <!--member click-->
    <section class="home-member">
        <!--<span ng-click="checkAuthorize('member')">-->
    <div ng-click="showMember()" on-swipe-down="showMember()"  on-touch="onTouch()" on-release="onRelease()">
      <i class="ion-usercenter"></i>
    </div>
    </section>
</div>
