<ion-view title="积分查询" class="">
    <ion-content class="integralQuery" overflow-scroll="true">
        <div class="stateNow">
            <!--<i class="icon-integralQuery ion-selfIntegral"></i>-->
            <p class="stateNow_p_1">当前可用积分:</p>
            <p class="stateNow_p_2" ng-bind="totalIntegral"></p>
            <p class="stateNow_p_3" ui-sref="subNav.memberRights">如何获得积分</p>
            <p class="stateNow_p_4" ng-show="duepoint">其中&ensp;<span ng-bind="duepoint"></span>&ensp;积分将在&ensp;<span ng-bind="duedate | yyyyMd_cn"></span>过期</p>
        </div>
        <!--<div class="stateInfo">-->
        <!--<div>-->
        <!--<p ng-show="!duepoint">其中&ensp;<span ng-bind="duepoint"></span>&ensp;积分将在&ensp;<span ng-bind="duedate | yyyyMd_cn"></span>过期</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;<p class="text-right" ui-sref="subNav.memberRights">如何获得积分</p>&ndash;&gt;-->
        <!--</div>-->
        <div class="buttonGroup">
            <div class="selfIntegral" ui-sref="subNav.memberSelfIntegral"><span class="icon"></span><span>自助积分</span></div>
            <div class="integralMall" ui-sref="subNav.memberIntegralMall"><span class="icon"></span><span>积分商城</span></div>
        </div>
        <!--<div>-->
        <h3 class="text-center internalQuery_title">积分明细</h3>
        <!--</div>-->
        <div class="queryBox">
            <div class="dateFrom">
                <input type="date" name="datefrom" id="datefrom" placeholder="yyyy-MM-dd" ng-model="params.datefrom" required>
            </div>
            <section class="dateDivider"></section>
            <div class="dateTo">
                <input type="date" name="dateto" id="dateto" placeholder="yyyy-MM-dd" ng-model="params.dateto" required>
            </div>
            <div class="dateBtn" ng-click="searchIntegralHistory()">
                <i class="icon-integralQuerySearch"></i>
            </div>

        </div>
        <div class="queryList">
            <div class="queryListEach" ng-repeat="item in dataToDisplay track by $index">
                <p class="queryListEach-l1">
                    <span ng-bind="::item.channelname | pointChannelCode"></span>
                    <span><span ng-bind="::item.typename | pointTypecode"></span><span ng-bind="::item.pointnum"></span></span>
                </p>
                <p class="queryListEach-l2">
                    <span ng-bind="::item.remark"></span>
                    <span ng-bind="item.gettime | yyyyMd_cn"></span>
                </p>
            </div>
        </div>
        <!--抱歉,暂无数据!-->
        <div class="noDataToDisplay" ng-if=" dataToDisplay.length== 0 && !moreDataCanBeLoaded">
            <p>无积分历史记录!</p>
            <p>如果查询异常,请核对起止日期!</p>
        </div>
        <p class="noDataToDisplay" ng-if="!moreDataCanBeLoaded && dataToDisplay.length>findNum">
            列表加载完毕!</p>


        <section class="infiniteScrollBox" ng-show="moreDataCanBeLoaded">
            <ion-infinite-scroll distance="10%" spinner="ripple" ng-show="moreDataCanBeLoaded" id="infiniteScroll" on-infinite="loadMore()"></ion-infinite-scroll>
            <p>正在加载</p>
        </section>
    </ion-content>
</ion-view>
