<ion-view title="推广活动" class="activities goupon">
  <smart-tap-box class="bar-subheader activitiesTabs">
    <tap-select ng-click="changeTo(0)" ng-class="{'active':status == 0}">
      <tap-header>
        <span>商场活动</span>
      </tap-header>
    </tap-select>
    <tap-select ng-click="changeTo(1)" ng-class="{'active':status == 1}">
      <tap-header>
        <span>商户活动</span>
      </tap-header>
    </tap-select>
    <tap-select ng-click="changeTo(2)" ng-class="{'active':status == 2}">
      <tap-header>
        <span>会员活动</span>
        <!--<span ng-bind="test.key"></span>-->
      </tap-header>
    </tap-select>
  </smart-tap-box>


  <ion-content class="activitiesContent has-subheader" overflow-scroll="true">
    <ion-slide-box on-slide-changed="onSlideChange($index)" delegate-handle="activitySlide">
      <ion-slide>
        <section class="mallActive ">
          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_1.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为商场活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>

          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_2.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为商场活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>

          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_1.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为商场活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>
        </section>
      </ion-slide>
      <ion-slide>
        <section class="mallActive ">
          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_1.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为商户活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>

          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_2.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为商户活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>

          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_1.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为商户活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>
        </section>
      </ion-slide>
      <ion-slide>
        <section class="mallActive ">
          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_1.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为会员活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>

          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_2.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为会员活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>

          <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
            <div class="mallActive--imgBox placeholder_178_2">
              <img src="img/activity/act_1.png" alt="" err-src="">
            </div>
            <div class="mallActive--detail">
              <h3><span>活动名称: </span><span>此页为会员活动</span></h3>
              <p><span>时间: </span><span>2016.09.15</span></p>
              <div class="mallActive--detail__tagsBox">
                <span>VIP专享</span>
              </div>
            </div>
          </div>
        </section>
      </ion-slide>
    </ion-slide-box>

    <section class="mallActive ">
      <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
        <div class="mallActive--imgBox placeholder_178_2">
          <img src="img/activity/act_1.png" alt="" err-src="">
        </div>
        <div class="mallActive--detail">
          <h3><span>活动名称: </span><span>百盛商场中秋打折季节盛大开幕</span></h3>
          <p><span>时间: </span><span>2016.09.15</span></p>
          <div class="mallActive--detail__tagsBox">
            <span>VIP专享</span>
          </div>
        </div>
      </div>

      <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
        <div class="mallActive--imgBox placeholder_178_2">
          <img src="img/activity/act_2.png" alt="" err-src="">
        </div>
        <div class="mallActive--detail">
          <h3><span>活动名称: </span><span>百盛商场中秋打折季节盛大开幕百盛商场中秋打折季节盛大开幕</span></h3>
          <p><span>时间: </span><span>2016.09.15</span></p>
          <div class="mallActive--detail__tagsBox">
            <span>VIP专享</span>
          </div>
        </div>
      </div>

      <div ui-sref="subNav.activeDetail" class="mallActive--item boxShadow">
        <div class="mallActive--imgBox placeholder_178_2">
          <img src="img/activity/act_1.png" alt="" err-src="">
        </div>
        <div class="mallActive--detail">
          <h3><span>活动名称: </span><span>百盛商场中秋打折季节盛大开幕</span></h3>
          <p><span>时间: </span><span>2016.09.15</span></p>
          <div class="mallActive--detail__tagsBox">
            <span>VIP专享</span>
          </div>
        </div>
      </div>
    </section>






    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-1.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
    <!--<img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">-->
  </ion-content>
</ion-view>
