<ion-view title="我的预订" class="userBook">
    <smart-tap-box class="bar-subheader">
        <tap-select ng-click="changeTo(0)" ng-class="{'active':status == 0}">
            <tap-header>
                <span>预订中</span>
            </tap-header>
        </tap-select>
        <tap-select ng-click="changeTo(1)" ng-class="{'active':status == 1}">
            <tap-header>
                <span>已完成</span>
            </tap-header>
        </tap-select>
        <tap-select ng-click="changeTo(2)" ng-class="{'active':status == 2}">
            <tap-header>
                <span>已取消</span>
            </tap-header>
        </tap-select>
    </smart-tap-box>
    <ion-content class="userBook_content has-subheader">
        <ion-slide-box on-slide-changed="onSlideChange($index)" delegate-handle="useBookSlide">
            <ion-slide>
                <section class="userBook__content--slide">
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content booking">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">预订中</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content booking">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">预订中</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content booking">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">预订中</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                </section>
            </ion-slide>
            <ion-slide>
                <section class="userBook__content--slide">
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content booked">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">已完成</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content booked">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">已完成</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content booked">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">已完成</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                </section>
            </ion-slide>
            <ion-slide>
                <section class="userBook__content--slide">
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content bookCanceled">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">取消预订</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content bookCanceled">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">取消预订</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                    <!--每一个book信息-->
                    <div ui-sref="subNav.userBookDetail" class="bookShop boxShadow">
                        <div class="bookShop__header">
                            <div class="bookShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="bookShop__header__icon"></div>
                        </div>
                        <!--三种状态 booking bookCanceled booked-->
                        <div class="bookShop__content bookCanceled">
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>订</span>
                                    <span>单</span>
                                    <span>号:</span>
                                </div>
                                <div class="bookShop__content--div-middle">123123123123</div>
                                <div class="bookShop__content--div-right">取消预订</div>
                            </div>
                            <div class="bookShop__content--div">
                                <div class="bookShop__content--div-left">
                                    <span>用</span>
                                    <span>餐</span>
                                    <span>时</span>
                                    <span>间:</span>
                                </div>
                                <div class="bookShop__content--div-middle">2015.01.01 13:13:12</div>
                                <div class="bookShop__content--div-right"></div>
                            </div>
                            <div class="bookShop__content--bookTime">
                                <span>预订时间:</span><span>2015.01.01 13:13:12</span>
                            </div>
                        </div>
                    </div>
                    <!--每一个book信息 end-->
                </section>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
