/*login*/
.white-bg{
  /* @meta {"spritesheet": {"include": false}} */
  background:url(../img/home/white-bg.png) no-repeat center center /cover;
}



.register,
.userInfo,
.login{
  border:1px solid transparent;
  .logo-vivoCtiy{
    height:1.12rem;
    width:auto;
    margin-top:0.936rem;
    display: block;
    margin-left:auto;
    margin-right:auto;
    /*base64:skip*/
    background:url(../img/home/logo-vivocity.png) no-repeat center center /auto 100%;
  }

  .login-list{
    margin-top:1.287rem;
    padding:0 1.24rem;
    font-size:0.3rem;
    label{
      height:0.84rem;
      border:1px solid $stable;
      border-radius: 3px;
      margin-bottom:0.29rem;
      background:transparent;
      color:$stable;

      input{
        color:$stable;
        font-size:0.3rem;
        line-height: normal;
        -webkit-appearance: none;
      }
      input::-webkit-input-placeholder{
        color:$stable;
        font-size:0.3rem;
        line-height: normal;
      }
    }

    .forgetPsw{
      width:100%;
      text-align: right;
      color:$stable;
      text-decoration: underline;
      margin-bottom:0.91rem;

    }

    .loginButton{
      height:0.84rem!important;
      line-height:0.84rem;
      display: block;
      text-align: center;
      border:1px solid $stable;
      border-radius: 3px;
      margin-bottom:0.3rem;
      background-color:transparent;
      color: $stable;
      box-sizing: border-box;
      font-size:0.3rem;
      &.activated{
        color:#fff;
        background-color:$stable;
      }
    }
  }
}


///register
.register{

  label{
    margin-bottom: 0.19rem!important;

  }
  .item-input-wrapper{
    //padding:0.14rem 0px 0.11rem 0.37rem;
    padding:0.12rem 0 0.1rem 0.32rem;

  }
  .item-inline{
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: nowrap;
    margin:-1px;
    @include display-flex;
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    input{
      width:2.1rem;
      font-size:0.3rem;
      background: transparent;
      line-height:normal;
    }
    label:nth-child(1){
      //width: 100px !important;
    }
    .verificationCode{
      //width:74px;;
      line-height:0.84rem;
      height:0.84rem;
      border:1px solid $stable;
      border-radius: 3px;
      //margin-bottom:0.3rem;
      background:transparent;
      color:$stable;
      width:1.73rem;
      text-align: center;
      margin-left: 0.23rem;
      box-sizing: border-box;
      font-size: 0.26rem;
      position: relative;
      z-index: 99;
      &.activated{
        color:#fff;
        background:$stable;
      }
    }
  }

  .registerCheckBox{
    width:100%;
    color: $stable;
    margin-bottom:0.35rem;
    font-size:0.28rem;
    label{
      border:none;
      height:auto;
      font-size:0.28rem;
    }
    input{
      border:1px solid $stable;
      margin-right:0.23rem;
      -webkit-appearance: none;
      width: 0.35rem;
      height:0.35rem;
      box-sizing: border-box;
      top: 0.07rem;
      left:0.046rem;
      position: relative;
      font-size:0.3rem;
      background-color:transparent;
    }
    .selected::after{
      content: '';
      height:0.16rem;
      width:0.16rem;
      display: block;
      background-color:$stable;
      position: relative;
      left:0.07rem;
      top:0.07rem;
    }

    .xieyishuoming{
      font-size:0.28rem;
      text-decoration: underline;
      line-height: 0.234rem;
    }

  }
}

//registerSuccess
.registerSuccess{
  color: $stable;
  height: 100%;
  @include display-flex;
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);

  .registerSuccessInfo{
    padding:0 1rem;
    border:1px solid transparent;
    margin-bottom: 20%;
    h2{
      //margin-top:0.2rem;
      color: $stable;
      text-align: center;
      font-size:0.49rem;
      //font-weight:400;
      font-weight: bold;
    }
    p{
      color: $stable;
      font-size: 0.3rem;
      line-height:0.468rem;
    }
  }

  .registerSuccessBtn{
    padding:0 1.26rem;
    //position: absolute;
    //bottom:2.34rem;
    width:100%;
    margin-bottom:10%;
    div{
      color: $stable;
      background:transparent;
      border:1px solid $stable;
      height:0.84rem;
      width: 100%;
      line-height:0.84rem;
      text-align: center;
      font-size:0.3rem;
      margin-bottom:0.16rem;
      border-radius:3px;

      &.activated{
        color:#fff;
        background:$stable;
      }
    }
  }
}

//分享的蒙版图片机构
#showShareDark{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  z-index:999;
  display: none;
  //background-color:rgba(0,0,0,0.9);
  &.action{
    display: block;
  }
  img{
    width:80%;
    float: right;
    margin-right:0.5rem;
  }
}

//个人资料
.userInfo{
  //padding:0 1.38rem;
  .userInfoList{
    width:4.86rem;
    margin-left: auto;
    margin-right: auto;
    //width:100%;
    border:1px solid transparent;
    .headerImg{
      margin-top:0.234rem;
      height:1.66rem;
      width:1.66rem;
      border-radius: 100%;
      //border:1px solid $stable;
      margin-bottom:0.7rem;
      position: relative;
      overflow: hidden;
      //background:url() no-repeat center center/cover;
      img{
        max-width:100%;
        max-height:100%;
        width:100%;
        height:100%;


      }
      input{
        display: block;
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        opacity: 0;
        -webkit-appearance: none;
        border:0;
        outline:none;
        font-size:0.3rem;

      }
    }

    label{
      height:0.84rem;
      border:1px solid $stable;
      border-radius: 3px;
      margin-bottom: 0.1rem;
      margin-right: -0.1rem;
      margin-left: -0.1rem;
      background:transparent;
      color:$stable;
      input{
        color:$stable;
        font-size:0.3rem;
      }
      input::-webkit-input-placeholder{
        color:$stable;
        // font-size:0.3rem;
      }
    }

    .selectBox{
      @include display-flex;
      @include justify-content(space-between);

      //display: flex;
      //justify-content: space-between;
      margin-bottom:0.1rem;
      position: relative;
      margin-left:-0.1rem;
      margin-right:-0.1rem;

      .selectBoxEach{
        position: relative;
        select{
          width:100%;
          height:0.84rem;
          border:1px solid $stable;
          border-radius: 3px;
          color:$stable;
          -webkit-appearance: none;
          padding-left:0.23rem;
          padding-right: 0.43rem;
          position: relative;
          background:transparent;
          font-size:0.3rem;
          z-index:999;
        }
        select::-webkit-input-placeholder{
          color:$stable;
          font-size:0.3rem;
        }
        .insert-icon{
          padding-left: 0.725rem;
          -webkit-appearance: initial;
        }
      }
      .selectBox-1{
        width:100%;;
      }
      .selectBox-2{
        width:47%;;
      }
      .selectBox-3{
        width:32.5%;
      }

    }

    .savebtn{
      height:0.84rem!important;
      line-height:0.84rem;
      display: block;
      text-align: center;
      border:1px solid $stable;
      border-radius: 3px;
      margin-bottom:0.3rem;
      //background-color:transparent;
      color: $stable;
      box-sizing: border-box;
      margin-top:1.05rem;
      font-size:0.3rem;
      margin-left:-0.1rem;
      margin-right:-0.1rem;
      background:transparent;

      &.activated{
        color:#fff;
        background:$stable;
      }
    }

  }


}



