//nav-home-icon
.icon-nav-home {
  height: 0.5rem;
  width: 0.515rem;
  position: relative;
  top: 0.04rem;
  right: 0.234rem;
  display: inline-block;
  background: url(../img/icon/icon-home.png) no-repeat center center/100% auto;
}

.icon-nav-back {
  height: 0.4rem;
  width: 0.23rem;
  position: relative;
  left: 0.24rem;
  top: 0.1rem;
  display: inline-block;
  background: url(../img/icon/icon-back.png) no-repeat center center/100% auto;
}

.ion-fff-up {
  width: 0.4rem;
  height: 0.4rem;
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  background: url(../img/icon/icon-up.png) no-repeat center center/100% auto;
}

//home-usercenter
.ion-usercenter {
  height: 0.55rem;
  width: 0.52rem;
  display: inline-block;
  background: url(../img/icon/user-icon.png) no-repeat center center/100% auto;
}

//home
.iconHome {
  height: 0.76rem !important;
  width: 0.75rem !important;
  display: inline-block;
  &.ion-daohangzhi {
    background: url(../img/icon/daohang.png) no-repeat center center/100% auto;
  }
  &.ion-zixun {
    background: url(../img/icon/zixun.png) no-repeat center center/100% auto;
  }
  &.ion-tingche {
    background: url(../img/icon/tingche.png) no-repeat center center/100% auto;
  }
  &.ion-tuiguang {
    background: url(../img/icon/tuiguang.png) no-repeat center center/100% auto;
  }
  &.ion-pinpai {
    background: url(../img/icon/pinpai.png) no-repeat center center/100% auto;
  }
  &.ion-shangchang {
    background: url(../img/icon/shangchang.png) no-repeat center center/100% auto;
  }
}

//member-chat-notice
.ion-chat-notice {
  display: block;
  width: 100%;
  height: 100%;
  &.ion-chat {
    background: url(../img/icon/ion-chat.png) no-repeat center center/100% auto;
  }
  &.ion-notice {
    background: url(../img/icon/ion-notice.png) no-repeat center center/100% auto;
  }
}

//member right
.ion-memberCR {
  width: 0.43rem;
  height: 0.37rem;
  display: inline-block;

  &.ion-memmberCard {
    background: url(../img/icon/ion-card.png) no-repeat center center/100% auto;
  }
  &.ion-memmberRight {
    background: url(../img/icon/ion-quanyi.png) no-repeat center center/auto 100%;
  }
}

//icon-memberItems
.icon-memberItems {
  height: 0.47rem;
  display: inline-block;
  width: 0.75rem;

  &.ion-jifen {
    background: url(../img/icon/ion-jifen.png) no-repeat center center/auto 100%;
  }
  &.ion-lipin {
    background: url(../img/icon/ion-lipin.png) no-repeat center center/auto 100%;
  }
  &.ion-fuwu {
    background: url(../img/icon/ion-fuwu.png) no-repeat center center/auto 100%;
  }
  &.ion-shanghu {
    background: url(../img/icon/ion-shanghu.png) no-repeat center center/auto 100%;
  }
  &.ion-perinfo {
    background: url(../img/icon/ion-perinfo.png) no-repeat center center/auto 100%;
  }
  &.ion-chpsw {
    background: url(../img/icon/ion-chpsw.png) no-repeat center center/auto 100%;
  }
  &.ion-yijian {
    background: url(../img/icon/ion-yijian.png) no-repeat center center/auto 100%;
  }
  &.ion-logout {
    background: url(../img/icon/ion-logout.png) no-repeat center center/auto 100%;
  }
}

//ion-vip
.ion-vips {
  &.ion-vip1 {
    background: url(../img/icon/vip-1.png) no-repeat center center/auto 100%;
  }
  &.ion-vip2 {
    background: url(../img/icon/vip-2.png) no-repeat center center/auto 100%;
  }
  &.ion-vip3 {
    background: url(../img/icon/vip-3.png) no-repeat center center/auto 100%;
  }
}

//login register userinfo icon->form
.ion-authorize {
  width: 0.54rem;
  height: 0.54rem;
  display: inline-block;
  position: relative;
  //left: -0.187rem;

  &.ion-phone {
    left: -0.187rem;
    background: url(../img/icon/icon-phone.png) no-repeat center center/auto 100%;
  }
  &.ion-psw {
    left: -0.187rem;
    background: url(../img/icon/icon-psw.png) no-repeat center center/auto 100%;
  }
  &.ion-yanzhengma {
    width: 0.505rem;
    height: 0.48rem;
    left: -0.187rem;
    background: url(../img/icon/icon-yanzhengma.png) no-repeat center center/auto 100%;
  }
  &.ion-persion {
    left: -0.187rem;
    background: url(../img/icon/icon-persion.png) no-repeat center center/100% auto;
  }
  &.ion-dizhi {
    left: -0.187rem;
    background: url(../img/icon/icon-location.png) no-repeat center center/auto 100%;
  }
  &.ion-peoples {
    left: -0.187rem;
    background: url(../img/icon/icon-peoples.png) no-repeat center center/100% auto;
  }
  &.ion-select {
    display: block;
    position: absolute;
    left: 0.187rem;
    top: 0.14rem;
    //z-index: 999;
  }
  &.ion-select-right {
    width: 0.3rem;
    height: 0.538rem;
    display: block;
    position: absolute;
    right: 0.12rem;
    top: 0.14rem;
    left: auto;
    //z-index: 999;
  }
  &.ion-arrow-down {
    background: url(../img/icon/icon-arrow-down.png) no-repeat center center/100% auto;
  }
  &.ion-headimg {
    width: 100%;
    height: 100%;
    //left: -0.187rem;
    background: url(../img/icon/icon-headerimg.png) no-repeat center center/cover;
  }

}

//
.mallNavigate {
  .ion-select-right {
    width: 0.3rem;
    height: 0.47rem;
    display: block;
    position: absolute;
    right: 0.12rem;
    top: 0;
    z-index: 0;
    //z-index: 999;
  }
  .ion-arrow-down {
    background: url(../img/icon/icon-arrow-down.png) no-repeat center center/100% auto;
  }
  .ion-select-left {
    width: 0.38rem;
    height: 0.47rem;
    display: block;
    position: absolute;
    left: 0.2rem;
    top: 0;
    z-index: 0;
  }
  //.icon-heart {
  //  background: url(../img/mallNavigate/icon-heart.png) no-repeat center center/100% auto;
  //}
}

//integral home
.icon-integral {
  width: 0.76rem;
  height: 0.73rem;
  display: inline-block;
  position: relative;
  &.ion-selfIntegral {
    background: url(../img/icon/icon-selfIntegral.png) no-repeat center center/auto 100%;
  }
  &.ion-selfQuery {
    background: url(../img/icon/icon-list.png) no-repeat center center/auto 100%;
  }

  //我的服务
  //线上缴费记录
  &.ion-searchCar {
    background: url(../img/icon/icon-searchCar.png) no-repeat center center/100% auto;
  }
  //餐厅订位
  &.ion-cantingdingwei {
    background: url(../img/icon/icon-cantingdingwei.png) no-repeat center center/auto 100%;
  }
  //餐厅排队
  &.ion-cantingpaidui {
    background: url(../img/icon/ion-cantingpaidui.png) no-repeat center center/100% auto;
  }
  //活动预约
  &.ion-huodongyuyue {
    background: url(../img/icon/ion-huodongyuyue.png) no-repeat center center/100% auto;
  }
  //团购订单
  &.ion-tungoudingdan {
    background: url(../img/icon/ion-tungoudingdan.png) no-repeat center center/auto 100%;
  }
  //竞拍记录
  &.ion-jingpaijilu {
    background: url(../img/icon/ion-jingpaijilu.png) no-repeat center center/ auto 100%;
  }
  //
  //

}

.icon-integralQuery {
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  position: relative;
  &.ion-selfIntegral {
    background: url(../img/icon/icon-selfIntegral-white.png) no-repeat center center/auto 100%;
  }

}

.icon-integralQuerySearch {
  background: url(../img/icon/icon-search.png) no-repeat center center/auto 100%;
}

//subtitle icon
.icon-subtitle {
  width: 0.23rem;
  height: 0.23rem;
  display: inline-block;
  position: relative;
  &.icon-arrow-down {
    transition: -webkit-transform ease 200ms;
    background: url(../img/icon/down-arrow.png) no-repeat center center/100% auto;
  }
}

.icon-arrow-right {
  display: block;
  height: 0.3rem;
  width: 0.3rem;
  text-align: center;
  //float: right;
  position: absolute;
  top: 0.33rem;
  right: 0.34rem;
  background: url(../img/icon/right-arrow.png) no-repeat center center/auto 100%;
}

//star from collected sign
//.collected{
//  .whiteStar{
//    background:url(../img/collection/white-star.png) no-repeat center center/cover;
//  }
//}

.whiteStar {
  background: url(../img/icon/white-star.png) no-repeat center center/cover;
}

.collected {
  .redStar {
    background: url(../img/icon/red-star.png) no-repeat center center/cover !important;
  }
}

//searchBox universal component
.icon-search {
  width: 0.47rem;
  height: 100%;
  background: url(../img/icon/search.png) no-repeat center center/ 100% auto;
}

.icon-close {
  //height:100%;
  //width:100%;
  background: url(../img/icon/close.png) no-repeat center center/ 100% auto;
}

//.icon-close-1{
//  background:url(../img/other/close-1.png) no-repeat center center/ 100% auto;
//}

//自助停车
.icon-selfPark {
  &.ion-findCar {
    background: url(../img/icon/findCar.png) no-repeat center center/auto 100%;
  }
  &.ion-findMap {
    background: url(../img/icon/findMap.png) no-repeat center center/auto 100%;
  }
  &.ion-selfPay {
    background: url(../img/icon/selfPay.png) no-repeat center center/auto 100%;
  }
  &.ion-car {
    background: url(../img/icon/car.png) no-repeat center center/auto 100%;
  }

}

//chat
.icon-chat-phone {
  background: url(../img/icon/phone.png) no-repeat center center/100% auto;
}

.icon-chat-camera {
  background: url(../img/icon/camera.png) no-repeat center center/100% auto;
}

//self-park select
.icon-selfPark-select {
  width: 0.4rem !important;
  height: 0.4rem !important;
  display: block;
  background: url(../img/icon/noneselect.png) no-repeat center center/100% auto;
  //&.icon-select {
  //  background: url(../img/icon/select.png) no-repeat center center/100% auto !important;
  //}
}

.payMethod.active,
.couponListEach.active {
  .icon-selfPark-select.icon-select {
    background: url(../img/icon/select.png) no-repeat center center/100% auto !important;
    transform: none !important;
  }
}

.modal4ParkingRule {
  .closeBtn {
    .closeBtnInner.closeBtnIcon {
      background: url(../img/icon/close-2.png) no-repeat center center/100% auto !important;
    }
  }
}

.detailInfo {
  .icon {
    width: 0.4rem;
    height: 0.65rem;
    display: inline-block;
    &.ion-renjun {
      background: url(../img/icon/renjun.png) no-repeat center center/100% auto !important;
    }
    &.ion-area {
      background: url(../img/icon/area.png) no-repeat center center/100% auto !important;
    }
    &.ion-phone {
      background: url(../img/icon/phone-red.png) no-repeat center center/100% auto !important;
    }

  }
}

.wowBox {
  .icon {
    height: 0.34rem;
    width: 0.35rem;
    display: block;
    bottom: 0.03rem;
    position: relative;
    &.ion-wow {
      background: url(../img/icon/wow.png) no-repeat center center/auto 100% !important;
    }
  }
}

.shareBox {
  .icon {
    height: 0.28rem;
    width: 0.38rem;
    display: block;
    &.ion-shared {
      background: url(../img/icon/share.png) no-repeat center center/auto 100% !important;
    }
  }
}

.goupon {
  .gouponList {
    .eachItems {
      background: url(../img/icon/stamp_huang.png) repeat-x center top/0.13rem auto;
    }
  }
}

//自助积分左右箭头
.left-selfpark-arrow {
  height: 0.6rem;
  width: 0.5rem;
  position: relative;
  background: url(../img/icon/left-arrow.png) no-repeat center center/auto 100% !important;
}

.right-selfpark-arrow {
  height: 0.6rem;
  width: 0.5rem;
  position: relative;
  background: url(../img/icon/up-eee-arrow.png) no-repeat center center/auto 100% !important;
}

//停车缴费向右箭头
.right-payPark-arrow {
  height: 0.35rem;
  width: 0.35rem !important;
  //top:0.03rem !important;
  background: url(../img/icon/up-eee-arrow.png) no-repeat center center/auto 100% !important;
}