$stable: #a91f7f !default;
$list-bg-color: #e8ecf0 !default;
$touched: #fafafa;
$background-grey: #e8ecf0;
$border-grey: #e5e5e5;


.touched {
  background-color: $touched;
}

.activated {
  //background-color:$touched!important;
  //transition: all ease 300ms;
}