$stable:                #a91f7f !default;
$list-bg-color:         #e8ecf0 !default;
$touched:               #fafafa;

.touched {
  background-color: $touched;
}

.activated {
  //background-color:$touched!important;
  //transition: all ease 300ms;
}