<ion-view title="推广活动" class="activities goupon">
  <smart-tap-box class="bar-subheader activitiesTabs">
    <tap-select ng-click="status = 0" ng-class="{'active':status == 0}">
      <tap-header>
        <span>商场活动</span>
      </tap-header>
    </tap-select>
    <tap-select ng-click="status = 1" ng-class="{'active':status == 1}">
      <tap-header>
        <span>商户活动</span>
      </tap-header>
    </tap-select>
    <tap-select ng-click="status = 2" ng-class="{'active':status == 2}">
      <tap-header>
        <span>会员活动</span>
        <!--<span ng-bind="test.key"></span>-->
      </tap-header>
    </tap-select>
  </smart-tap-box>



  <ion-content class="activitiesContent has-subheader" overflow-scroll="true">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-1.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
    <img ui-sref="subNav.activeDetail" width="100%" src="img/activity/active-2.png" alt="">
  </ion-content>
</ion-view>
