
.firstGuideBox {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  transition: opacity ease 300ms;

  z-index: 0;
  background: transparent;
  opacity: 0;

  //silder的
  .userSilder {
    position: relative;
    z-index: 0;
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity ease 300ms;
    .userSilderBox {
      height: 100%;
      overflow: hidden;
      //background: #1898d2;
      background: $stable;
      .slider-slides {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .slider-slide {
          .contentBox {
            @include display-flex;
            @include justify-content(center);
            @include flex-direction(column);
            @include align-items(center);
            width: 100%;
            height: 100%;
            overflow: hidden;
            .upBox {
              width: 100%;
              display: block;
              height: auto;
              overflow: hidden;
              margin-top: 0.5rem;
              padding-right: 0.3rem;
              margin-bottom: 1rem;
              img {
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
              }
            }
            .downBox {
              width: 100%;
              display: block;
              height: 1.45rem;
              text-align: center;
              margin-bottom: 0.8rem;
            }
            .animateBox {
              position: absolute;
              display: none;
              top: 36%;
              right: 0;
              width: 60%;
              img {
                display: block;
                width: 100%;
              }
            }
            &.bg-yellow {
              background-color: $stable;
              //background-color: #e8ad3f;
            }
            &.bg-red {
              background-color: $stable;
              //background-color: #a01d25;
            }
            &.bg-blue {
              background-color: $stable;
              //background-color: #1898d2;
            }

          }
          img {
            height: 100%;
            //height: 100%;
          }
        }

        //我知道了
        .iknowBox {
          display: block;
          position: absolute;
          top: 0.4rem;
          right: 0.4rem;
          //width:100%;
          text-align: center;
          .iknow {
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            padding: 0.1rem 0.3rem;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 0.3rem;
            font-size: 0.35rem;
            background: transparent;
            &:active,
            &.activated {
              border: 1px solid $stable;
              color: $stable;
              background: #fff;
            }
          }
        }
      }
      .slider-pager {
        .slider-pager-page {
          color: #eee;
        }
      }
    }

    &.active {
      opacity: 1;
    }
    &.beforeActive {
      z-index: 3;
      display: block;
    }
  }

  //home向导
  .userGuide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .userGuideBox {
      position: relative;
      top: 0;
      width: 100%;
      img {
        width: 3.7rem;
        left: 50%;
        position: relative;
        margin-left: -0.63rem;
      }
    }
    .planetGuideBox {
      position: absolute;
      bottom: 0;
      width: 100%;
      img {
        width: 2.9rem;
        left: 50%;
        bottom: 1.3rem;
        margin-left: -1.7rem;
        position: relative;
      }
    }
  }

  //整体激活状态
  &.active {
    z-index: 999;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);

  }
  &.beforeActive {
    z-index: 3;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



