/* 占位图片当做背景,在加载之前显示*/
//1-1
.placeholder_11_2{
  /* @meta {"spritesheet": {"include": false}} */
  background:url(../img/other/placeholder/placeholder1-1@2x.png) no-repeat center center/cover;
}
//4-3
.placeholder_43_2{
  /* @meta {"spritesheet": {"include": false}} */
  background:url(../img/other/placeholder/placeholder4-3@2x.png) no-repeat center center/cover;
}
//16-9
.placeholder_169_2{
  /* @meta {"spritesheet": {"include": false}} */
  background:url(../img/other/placeholder/placeholder16-9@2x.png) no-repeat center center/cover;
}
//17-5
.placeholder_175_2{
  /* @meta {"spritesheet": {"include": false}} */
  background:url(../img/other/placeholder/placeholder17-5@2x.png) no-repeat center center/cover;
}
//17-8
.placeholder_178_2{
  /* @meta {"spritesheet": {"include": false}} */
  background:url(../img/other/placeholder/placeholder17-8@2x.png) no-repeat center center/cover;
}