//格式类,工具类,排版相关
.center-block {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

//白色
.color-fff {
  color: #fff;
}

.h100 {
  height: 100%;
}

.wordLine {
  display: block; //如果是块儿级元素可以不用加
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.underline {
  text-decoration: underline;
}

.forbidden {
  background-color: #636363 !important;
  color: #FFF !important;
}

.boxShadow {
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.08);
}