<ion-view title="我的反馈" class="myQuestionList">
  <smart-tap-box class="bar-subheader">
    <tap-select ng-click="statuscode = 1" ng-class="{'active':statuscode == 1}">
      <tap-header>
        <span>待处理</span>
      </tap-header>
    </tap-select>
    <tap-select ng-click="statuscode = 2" ng-class="{'active':statuscode == 2}">
      <tap-header>
        <span>已处理</span>
      </tap-header>
    </tap-select>
  </smart-tap-box>
  <ion-content class="has-header has-subheader contentBgColor has-footer">

    <section class="">
      <div class="item item-icon-right" ng-repeat="item in dataToDisplay | filter:{statuscode: statuscode}" ng-click="" ui-sref="subNav.chatDetail({detail:item})">
        <span ng-bind="item.name"></span>
        <i class="icon-arrow-right"></i>
      </div>
    </section>
  </ion-content>
  <div ui-sref="subNav.memberAdvise" class="newQuestion">投诉建议</div>
</ion-view>


<!--<script id="newQuestion.temp.html" type="text/ng-template">-->
  <!--<ion-modal-view class="newQuestionModal white-bg">-->
    <!--<ion-header-bar class="bar bar-header bar-stable">-->
      <!--<button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>-->
      <!--<h1 class="title">投诉建议</h1>-->
      <!--&lt;!&ndash;<button class="button button-clear button-primary" ng-click="submit()">发布</button>&ndash;&gt;-->
    <!--</ion-header-bar>-->
    <!--<ion-content class="">-->
      <!--<div class="list list-inset">-->
        <!--<label class="item  item-input item-stacked-label">-->
          <!--<span class="input-label">问题名称</span>-->
          <!--<input ng-model="newQuestion.name" type="text" placeholder="一句话描述问题">-->
        <!--</label>-->
        <!--<label class="item  item-input item-stacked-label">-->
          <!--<span class="input-label">反馈内容</span>-->
          <!--<textarea rows="4" ng-model="newQuestion.detail" placeholder="反馈内容"></textarea>-->
        <!--</label>-->
        <!--<label class="item  item-input item-stacked-label">-->
          <!--<span class="input-label">联系方式</span>-->
          <!--<input ng-model="newQuestion.contactinfo" type="tel" placeholder="手机号码" required>-->
        <!--</label>-->
      <!--</div>-->
    <!--</ion-content>-->
    <!--<div class="btnBox">-->
      <!--<button class="bottomBtn button button-full button-stable" ng-click="submit()">提交</button>-->
    <!--</div>-->

  <!--</ion-modal-view>-->
<!--</script>-->