<ion-view title="关注商户" class="collection" overflow-scroll="true">

    <smart-tap-box class="bar-subheader">
        <tap-select>
            <tap-header>
                <span ng-bind="levelName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setLevelName(item)" ng-repeat="item in levelArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
        <tap-select>
            <tap-header>
                <span ng-bind="typeName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setTypeName(item)" ng-repeat="item in typeArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
        <tap-select>
            <tap-header>
                <span ng-bind="orderName"></span>&ensp;<i class="icon-subtitle icon-arrow-down"></i>
            </tap-header>
            <tap-list>
                <tap-item ng-click="setOrderName(item)" ng-repeat="item in orderArr track by $index"
                          ng-bind="::item.name"></tap-item>
            </tap-list>
        </tap-select>
    </smart-tap-box>


    <ion-content id="scroll-content" class="has-subheader">
        <div class="list collectionList">
            <!--each-->
            <div class="collectionItem" ng-repeat="item in dataToDisplay">

               <!--商铺box-->
                <div ui-sref="subNav.brandDetail({detail:item.shopid})" class="shopBox">
                    <!--标题-->
                    <div class="collectionTitle clearfix">
                        <span class="title wordLine" ng-bind="::item.name"></span>
                        <span class="location" ng-bind="::item.area"></span>
                    </div>
                    <!--图片-->
                    <div class="imgBox placeholder_178_2">
                        <img ng-src="{{::item.logourl}}"
                             err-src="{{::placeHolderImg.placeholder_169_2}}">
                    </div>

                    <!--商铺信息-->
                    <div class="collectionInfo clearfix">
                        <span class="tag new">新</span>
                        <span class="tag discount">惠</span>
                    </div>
                </div>

                <!--收藏box-->
                <div class="starBox" ng-class="{1:'collected',0:''}[item.iscollect]"
                     ng-click="changeCollectionState($event,item)">
                    <div class="star redStar whiteStar"></div>
                </div>
            </div>
            <!--抱歉,暂无数据!-->

            <div class="noDataToDisplay" ng-if=" dataToDisplay.length== 0 && !moreDataCanBeLoaded">
                <p>神马,没有店铺?</p>
                <p>马上去【品牌咨询】添加商户!</p>
            </div>
            <p class="noDataToDisplay" ng-if="!moreDataCanBeLoaded && dataToDisplay.length>findNum">
                列表加载完毕!</p>
            <!--each end-->
            <section class="infiniteScrollBox" ng-show="moreDataCanBeLoaded">
                <ion-infinite-scroll distance="10%" spinner="ripple" ng-show="moreDataCanBeLoaded" id="infiniteScroll" on-infinite="loadMore()"></ion-infinite-scroll>
                <p>正在加载</p>
            </section>
        </div>
    </ion-content>
</ion-view>
