<ion-view title="个人资料" class="white-bg">
    <ion-content class="userInfo" overflow-scroll="false">

        <div class="list userInfoList">
            <!--头像上传-->
            <div class="headerImg center-block ion-headimg">
                <img id="memberinfoPic" ng-src="{{photo | addImgPrefix}}"/>
                <input id="memberinfoPicUpload" file-change type="file" accept="image/*"/>
            </div>
            <!--姓名-->
            <label for="fullname" class="item item-input">
                <i class="ion-authorize ion-persion"></i>
                <input type="text" name="fullname" id="fullname" ng-model="params.fullname" placeholder="姓名"
                       maxlength="100">
            </label>
            <!--手机号-->
            <label for="mobile" class="item item-input">
                <i class="ion-authorize ion-phone"></i>
                <input type="tel" name="mobile" id="mobile" ng-model="params.mobile" placeholder="手机号" disabled>
            </label>
            <!--省份,城市-->
            <div class="selectBox">
                <div class="selectBoxEach selectBox-2">
                    <select
                            name="province"
                            id="province"
                            ng-model="province.id"
                            ng-change="provinceChange(province.id);city.id='0';"
                            ng-options="id as name for (id,name) in cBox.provinceArr">
                    </select>
                    <i class="ion-authorize ion-select-right ion-arrow-down"></i>
                </div>
                <div class="selectBoxEach selectBox-2">
                    <select
                            name="city"
                            id="city"
                            ng-model="city.id"
                            ng-change="cityChange(city.id);"
                            ng-options="id as name for (id,name) in getCityArr">
                    </select>
                    <i class="ion-authorize ion-select-right ion-arrow-down"></i>
                </div>

            </div>
            <!--地址-->
            <label for="address" class="item item-input">
                <i class="ion-authorize ion-dizhi"></i>
                <input type="text" name="address" id="address" ng-model="params.address" placeholder="地址"
                       maxlength="100">
            </label>
            <!--年月日-->
            <div class="selectBox">
                <div class="selectBoxEach selectBox-3">
                    <select
                            name="year"
                            id="year"
                            ng-model="yearDisplayIndex.id"
                            ng-change="yearChange(yearDisplayIndex.id)"
                            ng-options="id as name for (id,name) in yearArr">
                        <option value="">年</option>
                    </select>
                    <i class="ion-authorize ion-select-right ion-arrow-down"></i>
                </div>
                <div class="selectBoxEach selectBox-3">
                    <select
                            name="month"
                            id="month"
                            ng-model="monthDisplayIndex.id"
                            ng-change="monthChange(monthDisplayIndex.id)"
                            ng-options="id as name for (id,name) in monthArr">
                        <option value="">月</option>
                    </select>
                    <i class="ion-authorize ion-select-right ion-arrow-down"></i>
                </div>
                <div class="selectBoxEach selectBox-3">
                    <select
                            name="day"
                            id="day"
                            ng-model="dayDisplayIndex.id"
                            ng-change="dayChange(dayDisplayIndex.id)"
                            ng-options="id as name for (id,name) in dayArr">
                        <option value="">日</option>
                    </select>
                    <i class="ion-authorize ion-select-right ion-arrow-down"></i>
                </div>
            </div>
            <!--家庭状况-->
            <div class="selectBox">
                <div class="selectBoxEach selectBox-1">
                    <i class="ion-authorize ion-select ion-peoples"></i>
                    <select class="selectBox-1 insert-icon" name="haschildren" id="haschildren"
                            ng-model="params.haschildren">
                        <option value="0">家庭状况</option>
                        <option value="1">有小孩</option>
                        <option value="2">没小孩</option>
                    </select>
                    <i class="ion-authorize ion-select-right ion-arrow-down"></i>
                </div>
            </div>
            <!--保存-->
            <div ng-click="saveUserInfo()" class="savebtn">保存</div>
        </div>
    </ion-content>
</ion-view>
