//品牌资讯

.book {
  background: $background-grey;
  .book_content {
    .imgBox {
      display: block;
      position: relative;
      height: 3.53rem;
      overflow: hidden;
      img {
        display: block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
      p {
        display: block;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        height: 0.65rem;
        width: 100%;
        font-size: 0.41rem;
        color: #fff;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.6);
        line-height: 0.65rem;
        padding: 0 0.22rem;
        font-weight: bold;
      }
    }

    .bookInfo {
      .bookInfo__header {
        font-size: 0.28rem;
        color: #333;
        height: 0.72rem;
        background: #fbfbfb;
      }
      .bookInfo__input {
        color: #666;
        text-align: left;
        flex: 1 4.4rem;

        &::-webkit-input-placeholder {
          color: #666;
        }
      }
      .bookInfo__input--right {
        padding-right: 0.6rem;

        text-align: right;
        &.input-static {
          color: #666;
        }
        &::-webkit-input-placeholder {
          color: #666;
          direction: rtl;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          direction: rtl;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
          direction: rtl;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          direction: rtl;
        }
      }
    }
  }
  .bottomBtn_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 0.5rem;

    .btn {

    }
  }
}

//预定成功 和 排队成功 使用的的是一个模板
.queueSuccess,
.bookSuccess {
  background-color: $background-grey;

  .bookSuccess_content {
    padding: 0 0.2rem;
    //预定成功
    .bs_Box {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      padding: 0 0.2rem;
      width: 100%;
      background-color: #fff;
      .bs_title {
        font-size: 0.28rem;
        color: #333;
        line-height: 0.71rem;
        border-bottom: 1px solid $border-grey;
      }
      .bs_info_box {

        height: 1.89rem;
        //height:100%;
        @include display-flex;
        @include justify-content(flex-start);
        @include align-items(center);
        .bs_info_img {
          width: 1.77rem;
          height: 1.77rem;

          @include display-flex;
          @include justify-content(center);
          @include align-items(center);
          img {
            width: 1.39rem;
            height: 1.39rem;
          }

        }
        .bs_info_text {
          padding-left: 0.37rem;

          .bs_info_title {
            color: $stable;
            font-size: 0.42rem;

          }
          .bs_info_subtitle {
            color: #999;
            font-size: 0.23rem;
            margin:0;

          }
        }
      }
    }
    //中间订单信息
    .bs_order_box {
      background-color: #fff;
      padding: 0 0.2rem;
      .bs_order_title {
        border-bottom: 1px solid $border-grey;
        height: 1.06rem;
        line-height: 1.06rem;
        font-size: 0.37rem;
        color: #666;
        span {
          color: $stable;
        }

      }
      .order_detail_box {
        border-bottom: 1px solid $border-grey;
        div {
          @include justify-content(flex-start);
          @include display-flex;
          @include align-items(center);
          min-height: 0.6rem;
          .order_detail_title {
            width: 1.46rem;
            //display: inline-block;
            color: #999;
            font-size: 0.33rem;
            @include justify-content(space-between);
            @include display-flex;
            @include align-items(center);
          }
          .order_detail_text {
            color: #333;
            font-size: 0.33rem;
            padding: 0.1rem 0 0.1rem 0.2rem;
            width: 5.2rem;
            vertical-align: top;
            text-align: justify;
            line-height: 140%;

            //text-align-last: justify;
            small {
              vertical-align: top;
              text-align: justify;
              //line-height:inherit;
              //display: inline-block;
              //height:100%;

            }
          }
        }
      }
      .bs_order_footer {
        height: 0.83rem;
        line-height: 0.83rem;
        font-size: 0.33rem;
        color: #ccc;
        .order_detail_title {
          width: 1.46rem;
        }
        .order_detail_text {
          //color: #333;
          //font-size: 0.33rem;
          width: 5.2rem;
          padding: 0.1rem 0 0.1rem 0.2rem;
        }
      }
    }
    //按钮盒子
    .bs_order_btn_box {
      height: 1.8rem;
      width: 100%;
      margin-top: 0.8rem;

      .bs_order_bts_e {
        @include justify-content(center);
        @include display-flex;
        @include align-items(center);
        button {
          width: 2.82rem;
          margin: 0 0.18rem;
          //background-color:#fff;
          //font-size: 0.41rem;
        }
      }
      p {
        margin-top: 0.3rem;
        text-align: center;
        font-size: 0.28rem;
        color: #999;
      }
    }
  }
}

.bookTime {
  background: $background-grey;
  .bottomBtn_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 0.5rem;

    .btn {

    }
  }

  .book_cotent {
    .chooseDate {
      margin-bottom: 0.25rem;
      .chooseDate__header {
        background: #fbfbfb;
        height: 0.72rem;
        line-height: 0.72rem;
        font-size: 0.28rem;
        color: #333;
        padding-left: 0.2rem;
        border-top: 1px solid $border-grey;
        border-bottom: 1px solid $border-grey;

      }
      .chooseDate__dateBox {
        background: #fff;
        border-bottom: 1px solid $border-grey;
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        height: 1.2rem;
        .chooseDate__dateBox-each {
          width: 1.42rem;
          height: 0.68rem;
          border-radius: 0.1rem;
          color: #000;
          border: 1px solid #ddd;
          font-size: 0.33rem;
          text-align: center;
          margin: 0 0.17rem;
          @include display-flex;
          @include justify-content(center);
          @include align-items(center);
          position: relative;
          &.active,
          &.activated {
            color: $stable;
            border-color: $stable;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
        //.today {
        //  color: #000;
        //}
      }
    }
    .chooseTime {
      .chooseTime__header {
        background: #fbfbfb;
        height: 0.72rem;
        line-height: 0.72rem;
        font-size: 0.28rem;
        color: #333;
        padding-left: 0.2rem;
        border-top: 1px solid $border-grey;
        border-bottom: 1px solid $border-grey;
      }
      .chooseTime__timeBox {
        background: #fff;
        border-bottom: 1px solid $border-grey;
        //@include display-flex;
        //@include justify-content(center);
        //@include align-items(center);
        .row {
          @include display-flex;
          @include justify-content(center);
          @include align-items(center);

          //时间box
          .timeBox {
            .timeBox__span {
              margin: 0.12rem 0.13rem;
              position: relative;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              font-size: 0.33rem;
              line-height: 0.69rem;
              text-align: center;
              display: inline-block;
              width: 1.19rem;
              height: 0.69rem;
              border-radius: 0.1rem;
            }
            .can_not_use {
              color: #ddd;
              border: 1px solid #ddd;
            }
            .can_use {
              color: #000;
              border: 1px solid #ddd;

              &.active,
              &.activated {
                color: $stable;
                border: 1px solid $stable;
                border-radius: 0.1rem;
              }
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

              }
            }

          }
        }

      }
    }
  }
}


