<ion-view title="线上缴费记录" class="myService">
  <ion-content overflow-scroll="true">
    <div class="list myServiceList">
      <div class="item myServiceItem" ui-sref="subNav.memberServicesDetail({detail:item})" ng-repeat="item in dataToDisplay track by $index">
        <p class="clearfix">
          <span>停车缴费</span>
          <!--<span ng-bind="item.fullname"></span>-->
          <span ng-bind="item.during"></span>
        </p>
        <p class="clearfix">
          <span ng-bind="item.paymentTime | yyyyMd_cn"></span>
          <span><span ng-bind="(item.couponAmount + item.wechatAmount + item.alipayAmount + item.pointPayAmount) | currency:'￥'"></span></span>
        </p>
      </div>
    </div>

    <div class="noDataToDisplay" ng-if=" dataToDisplay.length== 0 && !moreDataCanBeLoaded">
      <p>暂无缴费记录!</p>
    </div>
    <p class="noDataToDisplay"
       ng-if="!moreDataCanBeLoaded && dataToDisplay.length>findNum">列表加载完毕!</p>
    <section class="infiniteScrollBox" ng-show="moreDataCanBeLoaded">
      <ion-infinite-scroll distance="1%" spinner="ripple" ng-show="moreDataCanBeLoaded" id="infiniteScroll" on-infinite="loadMore()"></ion-infinite-scroll>
      <p>正在加载</p>
    </section>
  </ion-content>
</ion-view>
