//丰树资讯
.fenshuNews {
  background-color: $list-bg-color;
  //demo
  padding: 0.14rem 0.14rem 0 !important;

  .newsBox {
    position: relative;
    background: #fff;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    .newsBoxInner {
      height: 2.55rem;
      position: relative;

      .imgBox {
        width: 2.65rem;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .rightContent {
        padding-left: 2.85rem;
        width: 100%;
        position: relative;
        height: 100%;
        .header {
          //margin: 0 0 0 0;
          font-size: 0.33rem;
          color: #000;

          line-height: 120%;
          margin: 0.2rem 0  ;
          //padding-bottom:0.2rem;
          //border-bottom: 1px solid #000;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; //显示的行数
          -webkit-box-orient: vertical;
        }
        .content {
          border-top: 1px solid #000;
          font-size: 0.23rem;
          line-height: 130%;
          color: #9f9f9f;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; //显示的行数
          -webkit-box-orient: vertical;
          padding: 0.15rem 0 0;
          margin-bottom:0.15rem;
        }
        & > .rightContent--btnBox {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 0.5rem;
          color: #fff;
          font-size: 0.25rem;
          font-weight: bold;
          text-align: right;
          button {
            min-height: inherit;
            line-height: inherit;
            font-size: 0.25rem;
            height: 100%;
          }
        }
      }
    }
  }

}
