<ion-view title="我的排队" class="userQueue">
    <smart-tap-box class="bar-subheader">
        <tap-select ng-click="changeTo(0)" ng-class="{'active':status == 0}">
            <tap-header>
                <span>排队中</span>
            </tap-header>
        </tap-select>
        <tap-select ng-click="changeTo(1)" ng-class="{'active':status == 1}">
            <tap-header>
                <span>已完成</span>
            </tap-header>
        </tap-select>
        <tap-select ng-click="changeTo(2)" ng-class="{'active':status == 2}">
            <tap-header>
                <span>已取消</span>
            </tap-header>
        </tap-select>
    </smart-tap-box>
    <ion-content class="userQueue_content has-subheader">
        <ion-slide-box on-slide-changed="onSlideChange($index)" delegate-handle="useQueueSlide">
            <ion-slide>
                <section class="userQueue__content--slide">
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queueing">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">排队中</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queueCanceled">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">已取消</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queued">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">已完成</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                </section>
            </ion-slide>
            <ion-slide>
                <section class="userQueue__content--slide">
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queueing">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">排队中</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queueCanceled">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">已取消</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queued">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">已完成</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                </section>
            </ion-slide>
            <ion-slide>
                <section class="userQueue__content--slide">
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queueing">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">排队中</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queueCanceled">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">已取消</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                    <!--每一个queue信息-->
                    <div ui-sref="subNav.userQueueDetail" class="queueShop boxShadow">
                        <div class="queueShop__header">
                            <div class="queueShop__header__title">多伦多海鲜自助餐厅</div>
                            <div class="queueShop__header__icon"></div>
                        </div>
                        <!--三种状态 queueing queueCanceled queued-->
                        <div class="queueShop__content queued">
                            <div class="queueShop__content__left">
                                <span>DH84</span>
                            </div>
                            <div class="queueShop__content__right">
                                <div class="queueShop__content--div queueShop__content--div-time">
                                    <div class="queueShop__content--div-left">2015-11-11 11:11:11</div>
                                    <div class="queueShop__content--div-right">已完成</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-title">
                                    <div class="queueShop__content--div-left">预计等待</div>
                                    <div class="queueShop__content--div-right">还需等待</div>
                                </div>
                                <div class="queueShop__content--div queueShop__content--div-status">
                                    <div class="queueShop__content--div-left">25分钟</div>
                                    <div class="queueShop__content--div-right">10桌</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--每一个queue信息 end-->
                </section>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
