<ion-view title="客服" class="chat">
  <ion-content class="chatBox  has-footer">
    <div class="chat-connect font-12 color-666 margintop10 text-center" ng-hide="dialogs.length > 0">正在为您转接客服...</div>
    <div class="chat-wrap ">
      <section ng-repeat="dialog in dialogs track by $index"
               ng-class="{1:'robot',2:'visitor'}[dialog.typecode]">
        <div class="chat-head">
          <!--客服头像-->
          <img ng-if="::dialog.typecode == 1" ng-src="img/home/default.png"/>
          <!--用户头像-->
          <img ng-if="::dialog.typecode == 2" ng-src="{{::visitorPhoto | addImgPrefix}}"/>
        </div>
        <div class="message">
          <article class="ask-wrap" ng-bind="::dialog.message">
            <!--你好!-->
          </article>
        </div>
      </section>
    </div>
  </ion-content>
  <footer class="chatInputBox">
    <div class="camera" ng-click="cameraBtn()"><i class="icon icon-chat-camera"></i></div>
    <div class="phone" ng-click=""><a href="tel://{{serviceTel}}"><i class="icon icon-chat-phone"></i></a></div>
    <input type="text" placeholder="请输入...." ng-model="chat.message">
    <section class="submit"  ng-click="sendMessage()">发送</section>

  </footer>
</ion-view>
