<ion-view title="找回爱车" class="">
    <ion-content class="findCar">
        <div class="inputBox">
            <!--从-->
            <div class="inputBoxEach">
                <span>从</span>
                <input type="text" placeholder="请输入您所在的位置">
            </div>
            <!--btns-->
            <div class="inputBoxBtns">
                <div ng-click="">地图上选点</div>
                <div ng-click="">我的位置</div>
            </div>
            <!--至-->
            <div class="inputBoxEach">
                <span>至</span>
                <input type="text" placeholder="请输入您车牌号或停车位号码">
            </div>
        </div>


    </ion-content>
    <div class="btnBox">
        <div class="btnBoxInner">导航路径</div>
    </div>
</ion-view>
