<ion-view title="礼品卡券">
    <ion-content class="gouponDetail">
        <!--礼券详情-->
        <section>
            <div class="shopImg placeholder_43_2">
                <img class="placeholder_43_2" ng-src="{{item.image_url | addImgPrefix}}" err-src="">
            </div>
            <div class="cardDetails" ng-switch="item.category_name" ng-if="item.type_code == 1">
                <strong ng-bind="item.name"></strong>
                <p ng-switch-when="coupon_category_1"><span ng-bind="item.coupon_value"></span>折<span
                        ng-bind="item.category_name | couponCategoryToName"></span></p>
                <p ng-switch-when="coupon_category_2"><span ng-bind="item.face_value"></span>元<span
                        ng-bind="item.category_name | couponCategoryToName"></span></p>
                <p ng-switch-when="coupon_category_3"><span ng-bind="item.face_value"></span>元<span
                        ng-bind="item.category_name | couponCategoryToName"></span></p>
                <p ng-switch-when="coupon_category_4"><span ng-bind="item.face_value"></span>元<span
                        ng-bind="item.category_name | couponCategoryToName"></span></p>
            </div>
            <div class="cardDetails" ng-if="item.type_code == 2">
                <strong ng-bind="item.name"></strong>
                <p>礼品</p>
            </div>
            <div class="detailInfo">
                <div class="detailBox" ng-if="item.type_code == 1">
                    <div class="detailTitle"><strong>使用时间:</strong></div>
                    <span ng-if="item.valid_type_code == 1">{{item.limit_time_begin.low | yyyyMd_cn}}至{{item.limit_time_end.low | yyyyMd_cn}}</span>
                    <span ng-if="item.valid_type_code == 2">有效天数: <span ng-bind="item.valid_days"></span>天</span>
                </div>
                <div class="detailBox" ng-if="item.type_code == 2">
                    <div class="detailTitle"><strong>使用时间:</strong></div>
                    <span>{{item.valid_start_time | yyyyMd_cn}}至{{item.valid_end_time | yyyyMd_cn}}</span>
                </div>
                <div class="detailBox">
                    <div class="detailTitle"><strong>使用规则: </strong></div>
                    <div class="innerBox" ng-bind-html="item.detail_rule | withoutStyle"></div>
                </div>
                <div class="detailBox">
                    <div class="detailTitle"><strong>使用状态: </strong></div>
                    <!--未使用未过期-->
                    <span ng-if="item.status_code == 2">未使用</span>
                    <!--未使用已过期-->
                    <span ng-if="item.status_code == 3">已过期</span>
                    <!--已使用-->
                    <span ng-if="item.status_code == 1">已使用</span>
                </div>
            </div>
        </section>

    </ion-content>
    <div class="convertNowBtn" ng-if="item.status_code == 2">
        <!--礼券的-->
        <div ng-click="usedNow(item.code + '|' + item.customer_id)">
            立即使用
        </div>
        <!--&lt;!&ndash;礼品的&ndash;&gt;-->
        <!--<div ng-if="item.type_code == 2" ng-click="usedNow(item.sendid)">-->
            <!--立即使用-->
        <!--</div>-->
        <!--已使用或已过期-->
        <!--<div class="forbidden" ng-if="item.is_used == 0 && item.is_expired == 1">已过期</div>-->
        <!--<div class="forbidden" ng-if="item.is_used == 1">已使用</div>-->
    </div>
</ion-view>
