//我的服务 停车记录
.myService {
  .myServiceList {
    padding: 0 0.36rem;
    border-bottom-color: transparent;
    .myServiceItem {
      //height:1.24rem;
      padding-top: 0.38rem;
      padding-bottom: 0.27rem;
      padding-left: 0;
      padding-right: 0;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-color: #a0a0a0;
      background-color: transparent;
      //第一行
      p:nth-child(1) {
        font-size: 0.38rem;
        color: #000;
        width: 100%;
        line-height: 110%;
        span:nth-child(1) {
          float: left;
        }
        span:nth-child(2) {
          float: right;
        }
      }
      //第二行
      p:nth-child(2) {
        font-size: 0.2rem;
        color: #959595;
        width: 100%;
        span:nth-child(1) {
          float: left;
        }
        span:nth-child(2) {
          float: right;
        }
      }
    }
  }
}

//我的服务 停车记录 detail
.myServiceDetail {

  .info1 {
    padding: 0.4267rem 0.42rem 0.3rem;
    li {
      height: 0.83rem;
      line-height: 0.83rem;
      font-size: 0.36rem;
      color: #000;
      border-bottom: 1px solid #c9c9c9;
      span:nth-child(1) {
        float: left;

      }
      span:nth-child(2) {
        float: right;
      }
    }

  }
  .info2 {
    padding: 0 0.42rem;
    font-size: 0.3rem;
    color: #535353;
    line-height: 0.7rem;
    p {
      margin-bottom: 0;
    }
    li {

    }
    .couponTable {
      width: 100%;
      text-align: center;
      border: 1px solid #eee;
      th {
        background-color: #999999;
        color: #fff;
      }
      td {
        border: 1px solid #eee;
      }
    }

  }

}

//mybook 我的预定
.userBook {
  background-color:$list-bg-color;
  .userBook_content {
    .userBook__content--slide {
      padding: 0.2rem;
      .bookShop {
        background-color: #fff;
        margin-bottom: 0.24rem;
        .bookShop__header {
          height: 0.83rem;
          @include display-flex;
          @include justify-content(space-between);
          @include align-items(center);
          border-bottom: 1px solid $border-grey;
          font-size: 0.28rem;
          padding: 0 0.2rem;
          .bookShop__header__title {
            color: #333;
          }
          .bookShop__header__icon {
            color: #333;
            width: 0.3rem;
            height: 0.28rem;
            background: url(../img/icon/right-arrow.png) no-repeat center center/auto 100%;
          }
        }
        .bookShop__content {
          padding: 0.2rem 0.4rem 0.1rem 0.2rem;
          &.booking {
            .bookShop__content--div {
              .bookShop__content--div-right {
                color: $assertive;
              }
            }
          }
          &.bookCanceled {
            .bookShop__content--div {
              .bookShop__content--div-left {
                color: #999;
              }
              .bookShop__content--div-middle {
                color: #999;
              }
              .bookShop__content--div-right {
                color: #999;
              }
            }
          }
          &.booked {
            .bookShop__content--div {
              .bookShop__content--div-right {
                color: $balanced;
              }
            }
          }
          .bookShop__content--div {
            @include display-flex;
            @include justify-content(flex-start);
            @include align-items(center);
            font-size: 0.33rem;
            height: 0.5rem;

            .bookShop__content--div-left {
              //flex: 1;
              //text-align: center;
              color: #666;
              width: 1.5rem;
              @include display-flex;
              @include justify-content(space-between);
              @include align-items(center);
            }
            .bookShop__content--div-middle {
              width: 3.5rem;
              text-align: left;
              color: #333;
              padding-left: 0.2rem;
            }
            .bookShop__content--div-right {
              width: 1.5rem;
              text-align: right;
              color: #333;
            }
          }
          .bookShop__content--bookTime {
            height: 0.5rem;
            font-size: 0.23rem;
            color: #999;
            text-align: right;
            line-height: 0.5rem;
          }
        }
      }
    }
  }
}

//mybook 我的预定-详情
.userBookDetail {
  background: $background-grey;
  .userBookDetail_content {
    .imgBox {
      display: block;
      position: relative;
      height: 3.53rem;
      overflow: hidden;
      img {
        display: block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
      p {
        display: block;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        height: 0.65rem;
        width: 100%;
        font-size: 0.41rem;
        color: #fff;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.6);
        line-height: 0.65rem;
        padding: 0 0.22rem;
        font-weight: bold;
      }
    }
    .userBook__header {
      font-size: 0.33rem;
      color: #666;
      background-color: #fff;
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(center);
      height: 1.06rem;
      padding: 0 0.24rem;
      margin-bottom: 0.24rem;
      border-bottom: 1px solid $border-grey;
      .userBook__header--left {

      }
      .userBook__header--middle {
        color: $stable;

      }
      .userBook__header--right {
        color: $assertive;
      }
    }

    .userBook__content {
      background-color: #fff;
      padding: 0.2rem 0.34rem;
      border-bottom: 1px solid $border-grey;
      .userBook__content--div {
        @include display-flex;
        @include justify-content(flex-start);
        @include align-items(center);
        font-size: 0.33rem;
        .userBook__content--div-left {
          width: 1.46rem;
          color: #999;
          @include display-flex;
          @include justify-content(space-between);
          @include align-items(center);
        }
        .userBook__content--div-right {
          color: #333;
          font-size: 0.33rem;
          padding: 0.05rem 0 0.05rem 0.2rem;
          width: 5.2rem;
          vertical-align: top;
          text-align: justify;
          line-height: 140%;
        }
      }
    }
    .userBook__bottom {
      height: 0.83rem;
      line-height: 0.83rem;
      font-size: 0.33rem;
      color: #ccc;
      padding: 0 0.34rem;
      background-color: #fff;
      border-bottom: 1px solid $border-grey;
      .userBook__bottom-left {
        width: 1.46rem;
      }
      .userBook__bottom-right {
        width: 5.2rem;
        padding: 0.1rem 0 0.1rem 0.2rem;
      }
    }

    .userBook__btn {
      margin-top: 0.5rem;
      width: 6.5rem;
      margin-left: auto;
      margin-right: auto;
      button {
        width: 100%;
      }
    }
  }
}

//我的排队
.userQueue {
  background-color:$list-bg-color;
  .userQueue_content {
    .userQueue__content--slide {
      padding: 0.2rem;
      .queueShop {
        background-color: #fff;
        margin-bottom: 0.24rem;
        .queueShop__header {
          height: 0.83rem;
          @include display-flex;
          @include justify-content(space-between);
          @include align-items(center);
          border-bottom: 1px solid $border-grey;
          font-size: 0.28rem;
          padding: 0 0.2rem;
          .queueShop__header__title {
            color: #333;
          }
          .queueShop__header__icon {
            color: #333;
            width: 0.3rem;
            height: 0.28rem;
            background: url(../img/icon/right-arrow.png) no-repeat center center/auto 100%;
          }
        }
        .queueShop__content {
          padding: 0.2rem 0.4rem 0.1rem 0.2rem;
          &.queueing {
            .queueShop__content__right {
              .queueShop__content--div-time {
                .queueShop__content--div-right {
                  color: $assertive;
                }
              }
            }
          }
          &.queueCanceled {
            .queueShop__content--div {
              .queueShop__content--div-left {
                color: #999;
              }
              .queueShop__content--div-right {
                color: #999;
              }
            }
          }
          &.queued {
            .queueShop__content__right {
              .queueShop__content--div-time {
                .queueShop__content--div-right {
                  color: $balanced;
                }
              }
            }
          }
          height: 2rem;

          @include display-flex;
          @include justify-content(center);
          @include align-items(center);
          .queueShop__content__left {
            flex: 3;
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            span {
              color: $stable;
              font-size: 0.56rem;
            }
          }
          .queueShop__content__right {
            flex: 7;
            padding-left: 0.5rem;
            .queueShop__content--div {
              @include display-flex;
              @include justify-content(space-between);
              @include align-items(center);
              font-size: 0.33rem;
              height: 0.5rem;
              color: #666;
              .queueShop__content--div-left {
                text-align: left;
              }
              .queueShop__content--div-right {
                text-align: right;
              }
            }
            .queueShop__content--div-time {
              font-size: 0.28rem;
              color: #999;
            }
            .queueShop__content--div-title {
              color: #666;
            }
            .queueShop__content--div-status {
              color: #333;
            }
          }

        }
      }
    }
  }
}
